<table class='tinfo passtb' style="width:350px;float:left;margin:0px;">
<TR><th>用户名</th><TD><label>{+$username+}</label></TD></TR>
<TR><Th>原密码</Th><TD><input type='password' id="pass0" class="btn7 btnf txt" /></TD></TR>
<TR><Th>新密码</Th><TD><input type='password' id="pass1" class="btn7 btnf txt" /></TD></TR>
<TR><Th>确认新密码</Th><TD><input type='password' id="pass2" class="btn7 btnf txt" /></TD></TR>
<TR><Th></Th><Td><input type="button" value="修改" class="btn2 btnf xg" /></Td></TR>
</table>

  <table class="tinfo wd100 usertb" >
   <tr>   
      <th>用戶名</th><TD  style="text-align:left;padding-left:15px;" colspan="3"><label>{+$username+}</label>[<label>{+$name+}</label>]</td>
      <th>默认盘</th><td colspan="3"><select class="pan">
         {+foreach item=i from=$pan+}
           <option value="{+$i+}" {+if $i==$defaultpan+}selected{+/if+}>{+$i+}</option>
         {+/foreach+}
      </select><input style="margin-left:5px;" type="button" value="更改" class="submitbtn btn2 btnf" /></td>
      </tr>
      <tr><th>快速金额</th><td style="text-align:left;padding-left:15px;" colspan="3">
      <select class="fastje">
            <option value='0' {+if $fastje==0+}selected{+/if+}>关闭</option>
             <option value='1' {+if $fastje==1+}selected{+/if+}>开启</option>
      </select>
      <input style="margin-left:5px;" type="button" value="更改" class="fastjebtn btn2 btnf" />
      </td><th>赔率变动提醒</th><td colspan="3">      <select class="plwarn">
            <option value='0' {+if $plwarn==0+}selected{+/if+}>关闭</option>
             <option value='1' {+if $plwarn==1+}selected{+/if+}>开启</option>
      </select>
      <input style="margin-left:5px;" type="button" value="更改" class="plwarnbtn btn2 btnf" />
      </td></tr>
      <tr>
          <td colspan=8>赔率变动提醒:只限香港彩,且[特肖连,连码,不中,生肖连,尾数连,过关]不会提醒！</td>
      </tr>
      <tr>
      <th>信用额度</th><td><label>{+$maxmoney+}</label></td> <th>可用余额</th><td><label>{+$money+}</label></td>
      <th>[快开]用额度</th><td><label>{+$kmaxmoney+}</label></td> <th>[快开]可用余额</th><td><label>{+$kmoney+}</label></td>
   </tr>
 
  <tr>
      
      <th>[现金]用额度</th><td><label>{+$fmaxmoney+}</label></td> <th>[现金]可用余额</th><td><label>{+$fmoney+}</label></td>
      <th></th><td></td> <th></th><td></td>
   </tr>
 
   </table> 

<table class="tinfo fasts">
<tbody>
 <tr>
  <td> {+foreach item=i from=$je+} <span>{+$i+}</span> {+/foreach+} </td>
 </tr>
 <tr>
  <th>
   <input type="text" class="in fastje" style="width:40px;" />
   <input type="button" class="fastadd" value="增加" />
   <input type="button" class="fastdel" value="删除" />
   <input type="button" class="fastsend" value="提交改动" />
   <input type="button" class="fastclose2" value="关闭" /><!--
   <input type="button" class="fastjeclear hide" value="清" />    
  <input type="button" class="fastclose2 hide" value="一直关闭" />
   --><input type="hidden" class="fastflag" value="{+$fastje+}" />

  </th>
 </tr>
 </tbody>
</table>