<div class="rules">
    <h4 class="headline">具体游戏规则如下:</h4>
    <ol>
      <!-- 1. -->
      <li>
        <strong>两面</strong>：<i>指单、双；大、小、尾大、尾小</i>
        <ul>
          <li>
                <span class="stress">单、双</span>：号码为双数叫双，如8、16；号码为单数叫单，如19、5。
          </li>
          <li>
                <span class="stress">大、小</span>：开出之号码大于或等于11为大，小于或等于10为小。
          </li>
          <li>
                <span class="stress">尾大、尾小</span>：开出之尾数大于或等于5为尾大，小于或等于4为尾小。
          </li>
          <li>
            每一个号码为一投注组合，假如投注号码为开奖号码并在所投的球位置，视为中奖，其余情形视为不中奖。
          </li>
        </ul>
      </li>
      <!-- 2. -->
      <li>
        <strong>中发白</strong>
        <ul>
          <li>
                <span class="stress">中</span>：开出之号码为01、02、03、04、05、06、07
          </li>
          <li>
                <span class="stress">发</span>：开出之号码为08、09、10、11、12、13、14
          </li>
          <li>
                <span class="stress">白</span>：开出之号码为15、16、17、18、19、20
          </li>
        </ul>
      </li>
      <!-- 3. -->
      <li>
        <strong>方位</strong>
        <ul>
          <li>
            <span class="stress">东</span>：开出之号码为01、05、09、13、17
          </li>
          <li>
            <span class="stress">南</span>：开出之号码为02、06、10、14、18
          </li>
          <li>
            <span class="stress">西</span>：开出之号码为03、07、11、15、19
          </li>
          <li>
            <span class="stress">北</span>：开出之号码为04、08、12、16、20
          </li>
        </ul>
      </li>
      <!-- 4. -->
      <li>
        <strong>总和单双</strong>
        <ul>
          <li>
            所有8个开奖号码的数字总和值是单数为总和单，如数字总和值是31、51；所有8个开奖号码的数字总和值是双数为总和双，如数字总和是42、80；假如投注组合符合中奖结果，视为中奖，其余情形视为不中奖。
          </li>
        </ul>
      </li>
      <!-- 5. -->
      <li>
        <strong>总和大小</strong>
        <ul>
          <li>
            所有8个开奖号码的数字总和值85到132为总大；所有8个开奖号码的数字总和值36到83为总分小；所有8个开奖号码的数字总和值为84打和；如开奖号码为01、20、02、08、17、09、11，数字总和是68，则总分小。假如投注组合符合中奖结果，视为中奖，其余情形视为不中奖，打和不计算结果。
          </li>
        </ul>
      </li>
      <!-- 6. -->
      <li>
        <strong>总尾大小</strong>
        <ul>
          <li>
            所有8个开奖号码的数字总和数值的个位数大于或等于5为总尾大，小于或等于4为总尾小；假如投注组合符合中奖结果，视为中奖，其余情形视为不中奖。
          </li>
        </ul>
      </li>
      <!-- 7. -->
      <li>
        <strong>选二任选</strong>
        <ul>
          <li>
            指从01至20中任意选择2个号码对开奖号码中任意2个位置的投注。投注号码与开奖号码中任意2个位置的号码相符，即中奖。
          </li>
        </ul>
      </li>
      <!-- 8. -->
      <li>
        <strong>选二连组</strong>
        <ul>
          <li>
            指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置的投注。投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码相符（顺序不限），即中奖。
          </li>
        </ul>
      </li>
      <!-- 9. -->
      <li>
        <strong>选三任选</strong>
        <ul>
          <li>
            指从01至20中任意选择3个号码对开奖号码中任意3个位置的投注。投注号码与开奖号码中任意3个位置的号码相符，即中奖。
          </li>
        </ul>
      </li>
      <!-- 10. -->
      <li>
        <strong>选三前组</strong>
        <ul>
          <li>
            指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置的投注。投注号码与开奖号码中按开奖顺序出现的前3个位置的号码相符（顺序不限），即中奖。
          </li>
        </ul>
      </li>
      <!-- 11. -->
      <li>
        <strong>选四任选</strong>
        <ul>
          <li>
            指从01至20中任意选择4个号码，对开奖号码中任意4个位置的投注。投注号码与开奖号码中任意4个位置的号码相符，即中奖。
          </li>
        </ul>
      </li>
      <!-- 12. -->
      <li>
        <strong>选五任选</strong>
        <ul>
          <li>
            指从01至20中任意选择5个号码，对开奖号码中任意5个位置的投注。投注号码与开奖号码中任意5个位置的号码相符，即中奖。
          </li>
        </ul>
      </li>
      <!-- 13. -->
      <li>
        <strong>第一球~第四球龙虎</strong>
        <ul>
          <li>
                <span class="stress">第一球 龙/虎</span>：“第一球”号码大于“第八球”号码视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。
          </li>
          <li>
                <span class="stress">第二球 龙/虎</span>：“第二球”号码大于“第七球”号码视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。
          </li>
          <li>
                <span class="stress">第三球 龙/虎</span>：“第三球”号码大于“第六球”号码视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。
          </li>
          <li>
                <span class="stress">第四球 龙/虎</span>：“第四球”号码大于“第五球”号码视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。
          </li>
        </ul>
      </li>
      <!-- 14. -->
      <li>
        <strong>正码</strong>
        <ul>
          <li>
            从01至20中任意选择1个号码进行投注，
            投注号码与开奖号码中任意1个位置的号码相符，即中奖。
          </li>
        </ul>
      </li>
      {+if ($ft==1)+}
       <li>
        <strong>番摊规则说明</strong>
        <ul>
         <li><span class="stress">{+$mstr+}除以4余数，余0为4番，余3为3番，余2为2番，余1为1番。</span></li>
 <li><span class="stress">单双</span>：13为单,24为双。</li>
 <li><span class="stress">大小</span>：12为小,34为大。</li>
 <li><span class="stress">X番</span>：开出X为赢，其他为输。</li>
 <li><span class="stress">X念Y</span>：开出X为赢，开出Y为和，其他为输。</li>
 <li><span class="stress">XY角</span>：开出X或Y为赢，其他为输。</li>
 <li><span class="stress">X正</span>：开出X为赢，开出X的对面为输，开出X的两边为和。13互为对面，24互为对面。</li>
 <li><span class="stress">XYZ中</span>：开出X/Y/Z为赢，其他为输。</li>
 <li><span class="stress">YZX通</span>：开出“通”的数字X为输，开出Y/Z为赢，其他为和。</li>
 <li><span class="stress">Y加ZX</span>：开出Y为赢，开出Z/X为和,其他为输。</li>

        </ul>
      </li>
      {+/if+}
      
    </ol>
  </div>
</div>  