<style>
p.bt{font-weight:bold}
</style>
 <table  class='tinfo rule'   cellspacing="0" cellpadding="0">
  <tr>
   <th>天津时时彩规则说明</th>
  </tr>
  <tr>
   <td valign="top"  style="padding-left:5px;text-align:left;">
   
   <p class="bt">一、天津时时彩，每十分钟开奖一次，天津时时彩是天津省福利彩票发行中心承销的快开彩票，开奖时间每天09:10至23:00，共84期</p>
<p class="bt">二、一字盘势规则说明</p>
<ul>
<li>1~5	于前三十个任选一位，自0~9任选1号进行投注，当开奖结果与所选的定位与号码相同且顺序一致时，即为中奖。</li>
<li>全五字组合	0~9任选1号进行投注，当开奖结果[万位、千位、百位、十位、个位]任一数与所选的号码相同时，即为中奖。</li>
<li>前三1字组合	0~9任选1号进行投注，当开奖结果[万位、千位、百位]任一数与所选的号码相同时，即为中奖。</li>
<li>中三1字组合	0~9任选1号进行投注，当开奖结果[千位、百位、十位]任一数与所选的号码相同时，即为中奖。</li>
<li>后三1字组合	0~9任选1号进行投注，当开奖结果[百位、十位、个位]任一数与所选的号码相同时，即为中奖。</li>
<li>万/千/百/十/个 大小	0~4为小，5~9为大。</li>
<li>万/千/百/十/个 单双	1、3、5、7、9为单，0、2、4、6、8为双。</li>
<li>万/千/百/十/个 质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
</ul>
<p class="bt">三、二字组合盘势规则说明</p>
<ul>
  <li>前三二字组合∶0~9任选2个号码进行投注，当开奖结果【万位、千位、佰位】任二数与所选的号码相同时，即为中奖</li>
  <li>中三二字组合∶0~9任选2个号码进行投注，当开奖结果【千位、佰位、拾位】任二数与所选的号码相同时，即为中奖。</li>
  <li>后三二字组合∶0~9任选2个号码进行投注，当开奖结果【佰位、拾位、个位】任二数与所选的号码相同时，即为中奖。</li>
</ul>
<p class="bt">四、二字定位盘势规则说明</p>
<ul>
 <li>
前三十个任选2位，自0~9任选2号进行投注，当开奖结果与所选号码相同且顺序一致时，
即为中奖。</li>
</ul>
<p class="bt">五、二字和数盘势规则说明</p>
<ul>
<li>
万千/万百/万十/万个/千百/千十/千个/百十/百个/十个 和数单双	1、3、5、7、9、11、13、15、17为单，0、2、4、6、8、10、12、14、16、18为双。
二码和数尾数大小∶0~4为小，5~9为大。
</li>
<li>
万千/万百/万十/万个/千百/千十/千个/百十/百个/十个 和数尾数大小 0~4为小，5~9为大。
</li>
</ul>
<p class="bt">六、三字组合规则说明</p>
<ul>
<li>前三三字组合∶自0~9号任选3个号码，当开奖结果【万位、千位、百位】与所选号码相同(位置不限)，即为中奖。</li></li>

<li>中三三字组合∶自0~9号任选3个号码，当开奖结果【千位、百位、十位】与所选号码相同(位置不限)，即为中奖。</li>

<li>后三三字组合∶自0~9号任选3个号码，当开奖结果【佰位、拾位、个位】与所选号码相同(位置不限)，即为中奖。</li>
</ul>
<p class="bt">七、三字定位规则说明</p>	
<ul>
<li>前三三字定位∶于【万位、千位、佰位】任选三位，自0~9任选3号进行投注，当开奖结果与所选的定位与号码相同且顺序一致时，即为中奖</li>

<li>中三三字定位∶于【千位、佰位、拾位】任选三位，自0~9任选3号进行投注，当开奖结果与所选的定位与号码相同且顺序一致时，即为中奖。</li>

<li>后三三字定位∶于【佰位、拾位、个位】任选三位，自0~9任选3号进行投注，当开奖结果与所选的定位与号码相同且顺序一致时，即为中奖。</li>
</ul>
<p class="bt">八、三字和数规则说明</p>
<ul>
<li>前三和数	开奖结果前三3位数的总和值与若投注前三数字的总和值与相同时，即为中奖。</li>
<li>中三和数	开奖结果中三3位数的总和值与若投注中三数字的总和值与相同时，即为中奖。</li>
<li>后三和数	开奖结果后三3位数的总和值与若投注后三数字的总和值与相同时，即为中奖。</li>	
<li>前三和数大小	0~13为小，14~27为大。</li>
<li>中三和数大小	0~13为小，14~27为大。</li>
<li>后三和数大小	0~13为小，14~27为大。</li>
<li>前三和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，
0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>
<li>中三和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，
0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>
<li>后三和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，
0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>	
<li>前三和数尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。举例：开奖结果为3、4、5。前三总和为2，尾数为2。</li>
<li>中三和数尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。举例：开奖结果为3、4、5。中三总和为2，尾数为2。</li>
<li>后三和数尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。举例：开奖结果为3、4、5。后三总和为2，尾数为2。</li>
<li>前三和数尾数大小	0~4为小，5~9为大。</li>
<li>中三和数尾数大小	0~4为小，5~9为大。</li>
<li>后三和数尾数大小	0~4为小，5~9为大。</li>	
<li>前三和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
<li>中三和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
<li>后三和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
</ul>
<p class="bt">九、组选三规则说明</p>
<ul>
 <li>前三组选三∶会员可以挑选5~10个号码，当开奖结果【万位、千位、佰位】中有且只有两个号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率。<br />
 如果是选择(1、2、3、4、5)，则只要开奖结果中，有出现1、2、3、4、5中的任何两个号码，且其中有一个号码重复则中奖。<br />
 ※例如∶112、344，若是开出豹子则不算中奖。 <br />
 ※备注∶"豹子"为三字同号，例如∶111、222
 </li>
 <li>中三组选三∶会员可以挑选5~10个号码，当开奖结果【千位、佰位、十位】中有且只有两个号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率。<br />
 如果是选择(1、2、3、4、5)，则只要开奖结果中，有出现1、2、3、4、5中的任何两个号码，且其中有一个号码重复则中奖。<br />
 ※例如∶112、344，若是开出豹子则不算中奖。 <br />
 ※备注∶"豹子"为三字同号，例如∶111、222
 </li>
 <li>后三组选三∶会员可以挑选5~10个号码，当开奖结果【百位、十位、个位】中有且只有两个号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率。<br />
 如果是选择(1、2、3、4、5)，则只要开奖结果中，有出现1、2、3、4、5中的任何两个号码，且其中有一个号码重复则中奖。<br />
 ※例如∶112、344，若是开出豹子则不算中奖。 <br />
 ※备注∶"豹子"为三字同号，例如∶111、222
 </li>
</ul>

<p class="bt">十、组选六规则说明</p>
<ul>
 <li>前三组选六∶会员可以挑选4~8个号码，当开奖结果【万位、千位、佰位】都出现在所下注的号码中且没有任何号码重复，则视为中奖。<br /> 
                                挑选不同个数的号码有其相对应的赔率，中奖赔率以所选号码中的最小赔率计算派彩。 <br /> 
                                ※例如∶如果是选择(1、2、3、4)，则开奖结果为123、124、134、234都中奖，其他都是不中奖。<br />  
                                ※例如∶112、133、145、444等都是不中奖。
 </li>
 <li>中三组选六∶会员可以挑选4~8个号码，当开奖结果【千位、百位、十位】都出现在所下注的号码中且没有任何号码重复，则视为中奖。<br /> 
                                挑选不同个数的号码有其相对应的赔率，中奖赔率以所选号码中的最小赔率计算派彩。 <br /> 
                                ※例如∶如果是选择(1、2、3、4)，则开奖结果为123、124、134、234都中奖，其他都是不中奖。<br />  
                                ※例如∶112、133、145、444等都是不中奖。
 </li>
 <li>后三组选六∶会员可以挑选4~8个号码，当开奖结果【百位、十位、个位】都出现在所下注的号码中且没有任何号码重复，则视为中奖。<br /> 
                                挑选不同个数的号码有其相对应的赔率，中奖赔率以所选号码中的最小赔率计算派彩。 <br /> 
                                ※例如∶如果是选择(1、2、3、4)，则开奖结果为123、124、134、234都中奖，其他都是不中奖。<br />  
                                ※例如∶112、133、145、444等都是不中奖。
 </li>
</ul>
<p class="bt">十一、总和龙虎盘势规则说明</p>
<ul>
<li>总和数	开奖结果五位数字的总和值与若投注五位数字的总和值与相同时，即为中奖。</li>
<li>总和尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。举例：五字和数为12，尾数为2。</li>
<li>总和数大小	0~22为小，23~45为大。</li>
<li>总和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>
<li>总和数尾数大小	0~4为小，5~9为大。</li>
<li>总和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
<li>龙虎和	龙：万位中奖号码大于个位的中奖号码。如万位开出9，个位开出2。虎：万位中奖号码小于个位的中奖号码。如万位开出2，个位开出 和：万位中奖号码等于个位的中奖号码。如万位开出1，个位开出1。</li>
</ul>
<p class="bt">十二、跨度盘势规则说明</p>
<ul>
<li>前3跨度：以开奖结果[万位、千位、百位]的最大差距（跨度），作为中奖依据。会员可以选择0~9的任一跨度。<br />  
跨度	举例：开奖结果为3、4、8、7、6。中奖的跨度为5。（最大号码8减最小号码3=5）。</li>
<li>中3跨度:以开奖结果[千位、百位、十位]的最大差距（跨度），作为中奖依据。会员可以选择0~9的任一跨度。<br />  
跨度	举例：开奖结果为3、4、8、7、6。中奖的跨度为4。（最大号码8减最小号码4=4）。</li>
<li>后3跨度：以开奖结果[百位、十位、个位]的最大差距（跨度），作为中奖依据。会员可以选择0~9的任一跨度。<br />  
跨度	举例：开奖结果为3、4、8、7、6。中奖的跨度为2。（最大号码8减最小号码6=2）。</li>
</ul>
<p class="bt">十三、牛牛盘势规则说明</p>
<ul><li>
【前三十个】任三位的和数能被10整除，为有牛，否则为无牛。有牛的情况下，根据其余二位的和数尾数(1-9),分别为牛1-牛9，如果尾数为0，为牛牛。有牛的情况下，其余二位的和数尾数\1\2\3\4\5为牛小，尾数6\7\8\9\0为牛大，尾数1\3\5\7\9为牛单，尾数0\2\4\6\8为牛双，尾数1\2\3\5\7为牛质，尾数0\4\6\8\9为牛合。</li></ul>
<p class="bt">十四、梭哈盘势规则说明</p>
<ul>
<li>五梅：前三十个五位开奖号码一样，如11111。</li>
<li>炸弹：前三个个五位开奖号码其中有四个号码一样，如01111，不包含五梅!</li>
<li>葫芦：前三十个五位开奖号码其中有三个号码一样，另两个号码也一样。如22333,56566。不包含五梅!</li>
<li>顺子：前三十个五位开奖号码全部不一样，号码从小到大排列，相互之前的差数为1，如21354,45678。67890不算中奖。</li>
<li>三条：前三十个五位开奖号码其中有三个号码一样，另两个号码不一样。如12333,56766。</li>
<li>两对：前三十个五位开奖号码其中有二组一样的号码(每组2个号码)，如22331,55766。</li>
<li>单对：前三十个五位开奖号码其中有二个号码一样，另三个号码不一样。如12353,57966。</li>
<li>五不靠：五位开奖号码为13579或02468[位置不限]</li>
<li>散号：以上规则之外的开奖号码。</li>
</ul>
<p class="bt">十五、其它盘势规则说明</p>
<ul>
<li>豹子	</li>
<li>前三豹子	数字都相同。例如：111、222，即为中奖。</li>
<li>中三豹子	数字都相同。例如：111、222，即为中奖。</li>
<li>后三豹子	数字都相同。例如：111、222，即为中奖。</li>
<li>顺子	</li>
<li>前三顺子	数字连号，不分顺序(包含数字9.0.1)。例如：012、019，即为中奖。</li>
<li>中三顺子	数字连号，不分顺序(包含数字9.0.1)。例如：012、019，即为中奖。</li>
<li>后三顺子	数字连号，不分顺序(包含数字9.0.1)。例如：012、019，即为中奖。</li>
<li>对子	</li>
<li>前三对子	任意2位数相同，另一位数不同(不含豹子)。例如：211、727，即为中奖。</li>
<li>中三对子	任意2位数相同，另一位数不同(不含豹子)。例如：211、727，即为中奖。</li>
<li>后三对子	任意2位数相同，另一位数不同(不含豹子)。例如：211、727，即为中奖。</li>
<li>半顺	</li>
<li>前三半顺	数字皆不同，且任意2位数为连号(不含对子、顺子与数字9,0,1)。例如：023、401，即为中奖。</li>
<li>中三半顺	数字皆不同，且任意2位数为连号(不含对子、顺子与数字9,0,1)。例如：023、401，即为中奖。</li>
<li>后三半顺	数字皆不同，且任意2位数为连号(不含对子、顺子与数字9,0,1)。例如：023、401，即为中奖。</li>
<li>杂六	</li>
<li>前三杂六	不包含豹子、顺子、对子、半顺的所有中奖号码。例如：024、406即为中奖。</li>
<li>中三杂六	不包含豹子、顺子、对子、半顺的所有中奖号码。例如：024、406即为中奖。</li>
<li>后三杂六	不包含豹子、顺子、对子、半顺的所有中奖号码。例如：024、406即为中奖。</li>
<li>准对	</li>
<li>前三准对	0~9投注一个号码，该号码于本次开奖为对子即为中奖(不包含豹子)。例如：开奖结果为211，准对1即为中奖。</li>
<li>中三准对	0~9投注一个号码，该号码于本次开奖为对子即为中奖(不包含豹子)。例如：开奖结果为211，准对1即为中奖。</li>
<li>后三准对	0~9投注一个号码，该号码于本次开奖为对子即为中奖(不包含豹子)。例如：开奖结果为211，准对1即为中奖。</li>
<li>不出	</li>
<li>前三不出	0~9投注一个号码，如果开奖号码不包含该号码，则视为中奖。例如：开奖结果为012，不出3、4、5、6、7、8、9即为中奖。</li>
<li>中三不出	0~9投注一个号码，如果开奖号码不包含该号码，则视为中奖。例如：开奖结果为012，不出3、4、5、6、7、8、9即为中奖。</li>
<li>后三不出	0~9投注一个号码，如果开奖号码不包含该号码，则视为中奖。例如：开奖结果为012，不出3、4、5、6、7、8、9即为中奖。</li>
</ul>
   </td>
  </tr>
 </table>
