<style>
.rule .tdl{text-align:right;width:40px;padding-right:5px;}
.rule .tebie{color:#D50000}
.rule td{text-align:left;padding-left:5px;}
.rule tr:hover{ background:#fff}
.rule th{font-weight:bold;font-size:16px;}
.rule .tinfo table td{border:none}
.rule .tinfo table th{border:none;width:100%}
.rule li{text-align:left}
.bottom .con1 tr:hover{background:none}
.rule table tr:hover{ background:#FCF}
.rule table {width:100%}
</style>
<div style="margin:0px;" class="rule w100">
<table cellspacing="0" cellpadding="0" class="tinfo">
 <TR>
  <TH colSpan="2">总则</TH>
 </TR>
 <TR>
  <TD class='tdl'>一.</TD>
  <TD>客户一经在本公司开户或投注，即被视为已接受这些规则。</TD>
 </TR>
 <TR>
  <TD class='tdl'>二.</TD>
  <TD>如果客户怀疑自己的资料被盗用，应立即通知本公司，并更改个人详细资料，且之前所使用的使用者名称及密码将全部无效。</TD>
 </TR>
 <TR>
  <TD class='tdl'>三.</TD>
  <TD>客户有责任确保自己的帐户及登入资料的保密性。在本网站上以个人的使用者名称及密码进行的任何网上投注将被视为有效。</TD>
 </TR>
 <TR>
  <TD class='tdl'>四.</TD>
  <TD>为了避免出现争议，请务必在下注之后检查“未结算注单”，建议将画面撷取或是列印出来以存为依据。</TD>
 </TR>
 <TR>
  <TD class='tdl'>五.</TD>
  <TD>开奖后接受的投注，将被视为无效。</TD>
 </TR>
 <TR>
  <TD class='tdl'>六.</TD>
  <TD>任何的投诉必须在开奖之前提出，本公司将不会受理任何开奖之后的投诉。</TD>
 </TR>
 <TR>
  <TD class='tdl'>七.</TD>
  <TD>公布赔率时出现的任何打字错误或非故意人为失误，本公司将保留改正错误和按正确赔率结算注单的权力。</TD>
 </TR>
 <TR>
  <TD class='tdl'>八.</TD>
  <TD>公布之所有赔率为现金赔率，派彩时的赔率将以本公司确认投注时之赔率为准。</TD>
 </TR>
 <TR>
  <TD class='tdl'>九.</TD>
  <TD>如本公司察觉客户投注状况异常时，有权即时中止客户投注；在本公司中止下注前，客户之所有投注仍属有效，不得要求取消或延迟交收，以及不得有任何异议。</TD>
 </TR>
 <TR>
  <TD class='tdl'>十.</TD>
  <TD>如因在本网站投注触犯当地法律，本公司概不负责。</TD>
 </TR>
  <TR>
   <TD class='tdl'>十一.</TD>
   <TD class="tebie">所有投注派彩彩金皆含本金</TD>
  </TR>
  <TR>
  <TD class='tdl'>十二.</TD>
  <TD class="tebie">快开额度说明:<BR />每期输赢都会做即时结算，可拿赢得的钱继续投注，隔日/下周恢复初始信用额度!</TD>
 </TR>
  <TR>
  <TD class='tdl'>十三.</TD>
  <TD class="tebie">低频额度说明:每天恢复初始信用额度。</TD>
 </TR>
   <TR>
       <TD class='tdl'>十四.</TD>
       <TD ><span class="tebie">现金额度说明:低频与快开共用额度，每期输赢都会做即时结算，可拿赢得的钱继续投注，</span>一直不会恢复初始信用额度。</TD>
   </TR>
   <TR>
  <TD class='tdl'>十五.</TD>
  <TD >报表说明:公司将在每周日删除上一星期报表，请会员及时查帐。</TD>
 </TR>
   <TR>
  <TD class='tdl'>十六.</TD>
  <TD >任何彩种【龙虎】归类为双面。</TD>
 </TR>
</table>
<BR />
</div>
