{+include file='headers.html'+}
<style  type="text/css">
.page_info .red{color:red !important}
</style>
</head>
<body class="{+$skin+}">
<script id=myjs language="javascript">var mulu='{+$mulu+}';var js=1;var sss='baoweekitem';</script>
<div class="main history">
<div class="search">
<span class="title">两周团队报表(每天产生佣金第二天8点前转存进账户，可以提现或投注)</span>
</div>
<table class="list table">
<thead><tr><th class="date">日期</th><th class="count">注数</th><th class="amount">下注金额</th><th class="cm">佣金</th><th class="dividend">盈亏</th></tr></thead>
<tbody>
{+section name=i loop=$upbao+}
<tr date='{+$upbao[i].date+}'><td clss="date"><a href="javascript:void(0)">{+$upbao[i].date+} 星期{+$upbao[i].week+}</a></td><td>{+$upbao[i].zs+}</td><td class="money">{+$upbao[i].zje+}</td><td class="money">{+$upbao[i].points+}</td><td><a href="javascript:void(0)" class="color result">{+$upbao[i].rs+}</a></td></tr>
{+/section+}
</tbody>
<tfoot>
<tr><th>上周</th><td>{+$t.uzs+}</td><td class="money">{+$t.uzje+}</td><td class="money">{+$t.upoints+}</td><td class="result color">{+$t.urs+}</td></tr>
</tfoot>
</table>
<table class="list mt table">
<thead><tr><th class="date">日期</th><th class="count">注数</th><th class="amount">下注金额</th><th class="cm">佣金</th><th class="dividend">盈亏</th></tr></thead>
<tbody>
{+section name=i loop=$bao+}
<tr date='{+$bao[i].date+}'><td clss="date"><a href="javascript:void(0)">{+$bao[i].date+} 星期{+$bao[i].week+}</a></td><td>{+$bao[i].zs+}</td><td class="money">{+$bao[i].zje+}</td><td class="money">{+$bao[i].points+}</td><td><a href="javascript:void(0)" class="color result">{+$bao[i].rs+}</a></td></tr>
{+/section+}
</tbody>
<tfoot>
<tr><th>本周</th><td>{+$t.zs+}</td><td class="money">{+$t.zje+}</td><td class="money">{+$t.points+}</td><td class="result color">{+$t.rs+}</td></tr>
</tfoot>
</table>
</div>
</body>

</html>