<div class="scrollable backgroundcolorlightpink ng-scope others changepass">
<div class="scrollable-content overthrow">

<div class="container-fluid cn"> <!--container-->
	<form class="ng-pristine ng-valid">
		<div class="row margintop20">
	    	<div class="padding10 clearfix">
	    		<div class="col-xs-5">旧密码 :</div>
	            <div class="col-xs-7"><input type="password" class="menutxtfield2 needsclick" id="oldpassword"></div>
	        </div>
		</div>
	    <div class="row">
	    	<div class="padding10 clearfix">
	    		<div class="col-xs-5">新密码 :</div>
	            <div class="col-xs-7"><input type="password" class="menutxtfield2 needsclick" id="password"></div>
	        </div>
		</div>
	    <div class="row">
	    	<div class="padding10 clearfix">
	    		<div class="col-xs-5">确认密码 :</div>
	            <div class="col-xs-7"><input type="password" class="menutxtfield2 needsclick" id="ckpassword"></div>
	        </div>
		</div>
	    <div class="row textcenter">
	        	<div class="padding10 textcenter clearfix" style="position:relative;">
	                <input type="button" class="mobilemenubtn buttonredradius cn inlineblock marginright20 needsclick cpass" value="确定">
	                <input type="reset" class="mobilemenubtn buttonredradius2 cn inlineblock marginright20 needsclick" value="重置">
	            </div>
	     </div>

          <div class="margintop40 padding10 cnsmall2">
	        <strong>说明:</strong> <br>
	        1.密码长度为6-12位，必须包含字母和数字； <br>
	     </div>
	</form>    
    
</div><!--container-->

    </div>
</div>