{+include file='header.html'+}
<script src="/js/default/jsmobi/makeuser.js" language="javascript"></script>
<script src="/js/default/jsmobi/ssuser.js" language="javascript"></script>

    </head>
    <body >
<script language="javascript" id='myjs'>
$(function(){myready();})
top.document.title = document.title;
var sss='make|ss';
var js=0;
</script>
    	 <div id="orderform" class='oh fw700 hide'>
    		<div id="ordermask"></div>
    		<div id="orderformbox">
				<b class='fl pad20' style="color: #fff">金额</b>
				
				<input class='fl textinput je' type="text" id="je" />
				<span id='send' class='dib fl tc white' >下单</span><!--submit()-->
				<span style="float: right;display: block;height: 56px" ><img src="../imgn/mobi/orderclose.png" style="float:left" class="orderclose" /></span>
			</div>
		</div>
        <header class='header-model tc rel fw700' style="text-align:left">
        <select class="game sele">
        {+section name=i loop=$gamecs+}
    <option value="{+$gamecs[i].gid+}" {+if $gid==$gamecs[i].gid+}selected{+/if+}>{+$gamecs[i].sgname+}</option>
     {+/section+}
     </select>
     <SELECT class="menu sele">
      {+if $gid!=100+} <option value='sm'>主盘势</option>{+/if+}
      {+if $gid==107+} <option value='15'>排名1~5</option><option value='610'>排名6~10</option>{+/if+}
      {+if $gid==100+}
          {+section name=i loop=$b+}
            
               {+if $smarty.section.i.index==2+}<option value='1-6'>正特1~6</option> {+/if+}
             <option value='{+$b[i].sid+}'>{+$b[i].name+}</option>
             
          {+/section+}
          
      {+elseif ($gid!=151 & $gid!=152)+}    
          {+section name=i loop=$b+}
             {+if $b[i].name!='1字组合'+}<option value='{+$b[i].bid+}'>{+$b[i].name+}</option>{+/if+}
          {+/section+}
      {+/if+}
      </SELECT>
       
            <SELECT class="abcd sele{+if $cpan==1+} hide{+/if+}" name='abcd'>
    {+foreach item=i from=$pan+}
        <option  value="{+$i+}" >{+$i+}盘</option>
    {+/foreach+}
 </SELECT>
    
    <SELECT class="ab sele{+if $gid!=100+} hide{+/if+}">
      <option value="A" selected>a盘</option>
      <option value="B">b盘</option>
    </SELECT>

      <span class="abs btn-h btn-r back">返回</span>
        </header>
        <NAV class='nav-model fw700 white info-list1'>
        <span class=' grey' style="margin-right:20px;">{+$username+}
        </span>
                <span class=' grey'>
               {+if $fudong==1+}
              [现金]余额：<span id='money'>{+$money+}</span>
              {+elseif $gid==100+}
              [低频]余额：<span id='money'>{+$money+}</span>
              {+else+}
                 [快开]余额：<span id='money'>{+$money+}</span>
              {+/if+}
                </span>
                <span class='grey'>今日输赢:
                                   {+if $fudong==1+}
              <span class='synow'>{+$synow+}</span>
              {+elseif $gid==100+}
             <span class='synow'>{+$synow+}</span>
              {+else+}
               <span class='synow'>{+$synow+}</span>
              {+/if+}
                </span>
            
        </NAV>
        <div class='info-list2 ssc prekj'>
            <span class='fw700 preqishu'>{+$kjs.qishu+}</span>期
            <span class='kjhm'>{+if $gid==100+}<span>{+$kjs.m1+}</span><span>{+$kjs.m2+}</span><span>{+$kjs.m3+}</span><span>{+$kjs.m4+}</span><span>{+$kjs.m5+}</span><span>{+$kjs.m6+}</span>T<span>{+$kjs.m7+}</span>{+/if+}</span>
        </div>
        <div class='mob rel fw700 info-list2 f12em '>
                <span>
                    <span><span class='blue qishu'>{+$thisqishu+}</span>期<span class="status" qs='{+$thisqishuall+}'>&nbsp;&nbsp;
     <span class="panstatus" s='{+$panstatus+}'><span>{+if $panstatus==1+}距关盘:{+else+}距开盘:{+/if+}</span>
     <label class="time0" style="font-size:13px;font-weight:bold;color:red">{+$pantime+}</label>
     </span>
     {+if $gid==100+}
     <span s='{+$otherstatus+}' class="otherstatus hide"><span>{+if $otherstatus==1+}距关盘:{+else+}距开盘:{+/if+}</span>
     <label class="time1" style="font-size:13px;font-weight:bold;color:red">{+$othertime+}</label>
     </span>
     {+/if+}
                </span></span>

                <span class='abs btn-r refresh' onClick="reloadrb();">
                   <img src='../imgn/mobi/xin.png' class="shuaxin" />刷新
                    
                </span>
        </div>
{+if $gid!=100+} 
        <div class='changlong {+if ( $gid==151 | $gid==152 | $gid==153 | $gid==155 | $gid==157)+} hide{+/if+}'>
            <NAV class='nav-model fw700 white info-list1'>
                <input type='button' value='隐藏' h='0' class='circle'/>长龙排行<select class="longfs sele"><option value="1">连开</option><option value="2">不开</option></select>
            </NAV>
            <article id='changlong' class='oh tc'>
            </article>
        </div>
        <div class='qiuhaotj'>
            <NAV class='nav-model fw700 white info-list1'>
                <input type='button' value='隐藏' h='0' class='circle'/>球号排行信息<select class="paihang-nav sele"></select>
            </NAV>


            <article class='paihang tc paihang3 paihang-show'>
             
            </article>
        </div>
        
        <div class='kj'>
            <NAV class='kjhead fw700 white info-list1'>
                <input type='button' value='隐藏' h='0' class='circle'/>近期开奖结果
            </NAV>

            <article class='kjbt tc paihang3 paihang-show{+if ( $gid==151 | $gid==152 | $gid==153 | $gid==155 | $gid==157 | $gid==161 | $gid==162)+} hide{+/if+}'>
             {+if ($gid==101 | $gid==111 | $gid==113 | $gid==115 | $gid==108 | $gid==109 | $gid==110 | $gid==112 | $gid==117 | $gid==163 | $gid==116 | $gid==118 | $gid==119 )+}
     
     <input type="button" class="btn hm tem click" value="号码" />
     <input type="button" class="btn ds tem" value="单双" />
     <input type="button" class="btn dx tem" value="大小" />
     <input type="button" class="btn zh tem" value="质合" />
     {+elseif ($gid==103 | $gid==133 | $gid==135 | $gid==131 | $gid==132  | $gid==136)+}
     <input type="button" class="btn hm tem click" value="号码" />
     <input type="button" class="btn ds tem" value="单双" />
     <input type="button" class="btn dx tem" value="大小" />
     <input type="button" class="btn hds tem" value="合单双" />
     <input type="button" class="btn wdx tem" value="尾大小" />
     <input type="button" class="btn fw tem" value="方位" />
     <input type="button" class="btn zfb tem" value="中发白" />
     {+elseif ($gid==121 | $gid==123 | $gid==125 | $gid==127  | $gid==129)+}
     <input type="button" class="btn hm tem click" value="号码" />
     <input type="button" class="btn ds tem" value="单双" />
     <input type="button" class="btn dx tem" value="大小" />
     {+elseif ($gid==107)+}
     <input type="button" class="btn hm tem click" value="号码" />
     <input type="button" class="btn ds tem" value="单双" />
     <input type="button" class="btn dx tem" value="大小" />
     <input type="button" class="btn zh tem" value="质合" />    
        
     {+/if+}
            </article>
             <article class='kjnr tc paihang3 paihang-show'></article>
        </div>
        {+/if+}
        <script type="text/javascript">
       var style = '{+$class+}';
var ngid= {+$gid+};
{+if ($gid==100)+}
sma=[];
{+foreach from=$ma item=i key=key+}
 {+foreach from=$i item=ii key=k+}
    sma['{+$k+}'] = new Array({+$ii+}); 
 {+/foreach+}	
{+/foreach+}
{+/if+}
        </script>
        <STYLE type="text/css">
		


		</STYLE>
        
         <SELECT  class="fast sele hide">
         <option value=1>快选</option>
         <option value=9>單</option>
 <option value=9>雙</option>
 <option value=9>大</option>
 <option value=9>小</option>
 <option value=9>合單</option>
 <option value=9>合雙</option>
 <option value=9>尾大</option>
 <option value=9>尾小</option>
 <option value=9>紅</option>
 <option value=9>藍</option>
 <option value=9>綠</option>
 <option value=9>家畜</option>
 <option value=9>野獸</option>
 <option value=9>前</option>
 <option value=9>後</option>
 <option value=9>0尾</option>
 <option value=9>1尾</option>
 <option value=9>2尾</option>
 <option value=9>3尾</option>
 <option value=9>4尾</option>
 <option value=9>5尾</option>
 <option value=9>6尾</option>
 <option value=9>7尾</option>
 <option value=9>8尾</option>
 <option value=9>9尾</option>
 <option value=9>鼠</option>
 <option value=9>牛</option>
 <option value=9>虎</option>
 <option value=9>兔</option>
 <option value=9>龍</option>
 <option value=9>蛇</option>
 <option value=9>馬</option>
 <option value=9>羊</option>
 <option value=9>猴</option>
 <option value=9>雞</option>
 <option value=9>狗</option>
 <option value=9>豬</option>        

        </SELECT>
        <iframe style="width:0px;height:0px;display:none" src="check.php" name="check" id='check'   ></iframe>
        
        <table class="list abs sendtb hide" >
            <thead>
             <TR>
              <th colspan="4" class="rel fw700 info-list3 c">
               
        <div class="item" style="width:55%; text-align:left;">
           <span class="blue font1">合计 ：</span>
			<span class="em9 " id="hj" style="font-size: 1.2em;color:#6FA6D9;"></span>
        </div>

        <div class="item" style="text-align: right;width: 45%">
           <span class="button cancel" >取消</span>
		   <span class="button exe" style="background-color: #438CD0;"  >确认</span>
           <span class="button closeexe" style="background-color: #438CD0;"  >关闭</span>
        </div>


              </th>
             </TR>
                <tr>
                    <th>编号</th>
                    <th>玩法</th>
                    <th>赔率</th>
                    <th>金额</th>
                    <th class='hide zt'>状态</th>
                </tr>
            </thead>
            <tbody id="con">
               
            </tbody>
     </table>
     <input type="hidden" class="tuid" value="" />
     <input type="text" value="" id="test" class="hide" />
<STYLE type="text/css">
.bet-type-contain li.achang {width:150px;}
.bet-type-contain li.chang {width:100px;}
.bet-type-contain li.duan {width:63px;}
.bet-type-contain li.sma {width:50px;text-align:center}
.bet-type-contain li.sma8 {width:90px;text-align:center}
.bet-type-contain li.sma7 {width:100px;text-align:center}
.bet-type-contain li.sma6 {width:52px;text-align:center}
.bet-type-contain li.sma2 {width:63px;text-align:center}
.bet-type-contain li.sma3 {width:110px;text-align:center}
.bet-type-contain li.sma5 {width:40px;text-align:center}
.bet-type-contain li.smab {clear:left;overflow:hidden;text-align:center}
.bet-type-contain  li.bts{width:98%;border:none}

.bet-type-contain li.bt{ background:#0080C0;color:#fff;text-align:center;font-weight:bold}
.bet-model ul.ht{width:400px;}
.bet-model ul.ht2{width:400px;}

</STYLE>
    </body>
</html>
