<div class="rules">
    <ol>
      <!-- 1. -->
      <li>
        <strong>大小玩法</strong>
        <ul>
          <li>数字为14-27，则为大；数字为0-13，则为小。</li>
          <li>
            ※开奖结果为13时，下注"小"退本金；开奖结果为14时，下注"大"退本金。
          </li>
        </ul>
      </li>
      <!-- 2. -->
      <li>
        <strong>单双玩法</strong>
        <ul>
          <li>数字为1，3，5，~27，则为单；数字为0，2，4，~26，则为双。</li>
          <li>
            ※开奖结果为13时，下注"单"退本金；开奖结果为14时，下注"双"退本金。
          </li>
        </ul>
      </li>
      <!-- 3. -->
      <li>
        <strong>极值玩法</strong>
        <ul>
          <li>
            [极小]为0-5，[极大]为22-27
            举例：下注"极小"，开奖结果为0-5其中一个数字即视为中奖；"极大"则反之。
          </li>
        </ul>
      </li>
      <!-- 4. -->
      <li>
        <strong>组合玩法</strong>
        <ul>
          <li>
            数字为14，16，~26，则为大双；数字为0，2，4，~12，则为小双；
          </li>
          <li>
            数字为15，17，~27，则为大单；数字为1，3，5，~13，则为小单。
          </li>
          <li>
            ※开奖结果为13时，下注"小单"退本金；开奖结果为14时，下注"大双"退本金。
          </li>
        </ul>
      </li>
      <!-- 5. -->
      <li>
        <strong>定位玩法(单点数字玩法)</strong>
        <ul>
          <li>
            从数字0-27中选取一个数字，当开奖结果与所选的数字相同时，视为中奖
          </li>
        </ul>
      </li>
      <!-- 6. -->
      <li>
        <strong>波色</strong>
        <ul>
          <li>
            PC蛋蛋27个数字分别有红、蓝、绿、黄四种颜色，以开奖结果开出的颜色和投注的颜色相同时，视为中奖，颜色代表如下:
          </li>
          <ul class="inner-ul">
            <li>
              <span class="stress">绿波</span>：1 , 4 , 7 , 10 , 16 , 19 ,
              22 , 25
            </li>
            <li>
              <span class="stress">蓝波</span>：2 , 5 , 8 , 11 , 17 , 20 ,
              23 , 26
            </li>
            <li>
              <span class="stress">红波</span>：3 , 6 , 9 , 12 , 15 , 18 ,
              21 , 24
            </li>
            <li><span class="stress">黄波</span>：0，13，14，27</li>
          </ul>
          <li>※开黄波下注色波任何一个都视为不中奖！</li>
        </ul>
      </li>
      <!-- 7. -->
      <li>
        <strong>豹子</strong>
        <ul>
          <li>
            开奖三个号码的数字都相同，举例：开奖号码为000、111、999等，开奖三个号码的数字相同，则投注"豹子"者视为中奖。
          </li>
        </ul>
      </li>
      <!-- 8. -->
      <li>
        <strong>特码包三</strong>
        <ul>
          <li>
            选取三个数字，三个数字中有任一数字和开奖结果一致，视为中奖。
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>  