<style>
p.bt{font-weight:bold}
</style>
 <table  class='tinfo rule'   cellspacing="0" cellpadding="0">
  <tr>
   <th>山东11选5规则说明</th>
  </tr>
  <tr>
   <td valign="top"  style="padding-left:5px;text-align:left;">
   
   <p class="bt">山东11选5每期间隔10分钟，每期会从01-11个号码中随机开出5个号码做为当期开奖号码。 </p>
<p class="bt">一、单码/双面规则说明</p>
<ul>
<li>单码	第一球、第二球、第三球、第四球、第五球：指下注的球号与现场滚球开出之号码其开奖顺序及开奖号码相同，视为中奖，如现场滚球第一球开奖为10号，下注第一球为10则视为中奖，其它号码视为不中奖。</li>
<li>大小	开出的号码大于或等于6为大，小于或等于5为小，开出11号为和。</li>
<li>单双	号码为双数叫双，如8、16；号码为单叫单，如19、5。开出11号为和。</li>
</ul>
<p class="bt">二、总和规则说明</p>
<ul>
<li>总和大小	所有5个开奖号码总和值小于30为总小；总和值大于30为总大，若总和值刚好等于30算和局(不计算输赢)。</li>
<li>总和单双	所有开奖号码数字加总值是单数为合单，如11、31；加总值是双数为合双，如42、30。</li>
<li>总和尾数大小	所有开奖号码数字加总值大于或等于5为总尾大，小于或等于4为总尾小。</li>
<li>龙虎	龙：第一球中奖号码大于第五球的中奖号码。如第一球开出10第五球开出07。虎：第一球中奖号码小于第五球的中奖号码。如第一球开出03第五球开出07。
</ul>
<p class="bt">三、正码</p>
<ul>
<li>投注一个码，如果此码在开奖结果的五个数中存在，为中奖。</li>
</ul>
<p class="bt">四、任选、直选、组选规则说明</p>
<ul>
<li>任选二中2	投注的2个号码与当期摇出的5个号码中的任2个号码相同，则中奖。</li>
<li>选前二组选	投注的2个号码与当期顺序摇出的5个号码中的前2个号码相同，则中奖。</li>
<li>选前二直选	投注的2个号码与当期顺序摇出的5个号码中的前2个号码相同且顺序一致，则中奖。</li>
<li>任选三中3	投注的3个号码与当期摇出的5个号码中的任3个号码相同，则中奖。</li>
<li>选前三组选	投注的3个号码与当期顺序摇出的5个号码中的前3个号码相同，则中奖。</li>
<li>选前三直选	投注的3个号码与当期顺序摇出的5个号码中的前3个号码相同且顺序一致，则中奖。</li>
<li>任选四中4	投注的4个号码与当期摇出的5个号码中的任4个号码相同，则中奖。</li>
<li>任选五中5	投注的5个号码与当期摇出的5个号码相同，则中奖。</li>
<li>任选六中5	投注的6个号码中任5个号码与当期摇出的5个号码相同，则中奖。</li>
<li>任选七中5	投注的7个号码中任5个号码与当期摇出的5个号码相同，则中奖。</li>
<li>任选八中5	投注的8个号码中任5个号码与当期摇出的5个号码相同，则中奖。</li>
</ul>
   </td>
  </tr>
 </table>

