<div style="margin:0px;" class="rule w100">
<TABLE class="tinfo wd100">
 <TR>
  <TH>玩法說明</TH>
 </TR>
<tr><td style="text-align:left;padding-left:5px;">
  <p><strong>◎每期香港彩開獎時間以馬會公布為準！</strong></p>
<p><strong>◎每期香港彩開獎球數共七粒（最後一碼為 特碼）</strong> </p>
<p><strong>◎ 正1-6特  </strong><br />
    指下注的正碼特與現場滾波開出之正碼其開獎順序及開獎號碼相同，視視中獎，如現場滾波第一個正碼開獎為49   號，下注第一個正碼特為49則視為中獎，其它號碼視為不中獎。 </p>
  <p><strong>◎ 正碼 </strong><br />
    香港低频彩公司每期開出的前面六個號碼為正碼。下注號碼如在六個正碼號碼里為中獎</p>
  <p><strong>◎ 大小 </strong><br />
    小：開出之特碼或正特，(01 ~ 24) 小於 或 等於 24。 <br />
    大：開出之特碼或正特，(25 ~ 48) 大於 或 等於   25。 <br />
    和局：特碼或正特為 49 時 。 <br />
    <br />
    <strong>◎ 尾數大小 </strong><br />
    小尾：開出之特碼或正特尾數，(0~4)。 <br />
    大尾：開出之特碼或正特尾數，(5~9)。 <br />
    和局：特碼或正特為 49 時 。<br />
    <br />
    <strong>◎ 單雙 </strong><br />
    雙：特碼或正特為『雙數』，如   18、20、34、42。 <br />
    單：特碼或正特為『單數』，如 01、11、35、47。 <br />
    和局：特碼或正特為 49 時 。 <br />
    <br />
    <strong>◎   合單雙 </strong><br />
    合雙：指開出特碼或正特的個位數加上十位數之和為『雙數』，如 02、11、33、44。 <br />
    合單：指開出特碼或正特的個位數加上十位數之和為『單數』，如 01、14、36、47。 <br />
    和局：特碼或正特為 49 時 。 </p>
  <p><strong>◎ 合大小 </strong><br />
    合雙：指開出特碼或正特的個位數加上十位數之和大於等於『7』，如 09、18、34、44。 <br />
    合單：指開出特碼或正特的個位數加上十位數之和小於等於『6』，如 01、14、33、40。 <br />
    和局：特碼或正特為 49 時   。 <br />
    <br />
    <br />
    <strong>◎ 總和大小 </strong><br />
    總和大：所有七個開獎號碼的分數總和 大於 或 等於 175。如開獎號碼為   01、09、27、29、33、42、45，分數總和 是 186，則為總和大。 <br />
    總和小：所有七個開獎號碼的分數總和 小於 或 等於 174。如開獎號碼為   01、09、27、29、33、13、22，分數總和 是 144，則為總和小。 <br />
    <br />
    <strong>◎   總和單雙 </strong><br />
    總和單：所有七個開獎號碼的分數總和是『單數』， 如分數總和是 133、197。 <br />
    總和雙：所有七個開獎號碼的分數總和是『雙數』，   如分數總和是 120、188。 <br />
    <br />
    <strong>◎   三中三 </strong><br />
    選擇投|注號碼每三個號碼為一組〈號碼需三個號以上，少於三個號碼不成立〉
    ，對獎號是以正碼對獎〈1～6號不含特碼〉，如三個號碼都   是在開獎號碼的正
    碼里，視為中獎，其他情形視為不中獎。
     <br />
    <br />
    <strong>◎ 三中二 </strong><br />
    中二：選擇投|注號碼每三個號碼為一組〈號碼需三個號以上，少於三個號碼不
    成立〉，如中的二個號碼都是在開獎號碼的正碼里，為三中 二視為中獎。 
    中三：選擇投|注號碼每三個號碼為一組〈號碼需三個號以上，少於三個號碼不
    成立〉，如中的三個號碼都是在開獎號碼的正碼里，為三中二之中三視為中獎
    。 
    除中二、中三外其他情形視為不中獎。 <br />
    例：11，17，18 為一組投|注號碼，開獎號碼中有11，17   兩個正碼〈沒有18號碼〉，為三中二中獎，赔率為三中二的赔率，如果11， 17   ，18三個號碼都是
    開獎之正碼，視為三中二之中三，赔率為三中二之中三的赔率，如只中一個號
    或是沒中任何號碼，此情形視為不中獎。 <br />
    <br />
    <strong>◎   二中二 </strong><br />
    選擇投|注號碼每二個號碼為一組〈號碼需二個號以上，少於二個號碼不成立〉
    ，如二個號碼都是在開獎號碼的正碼，視為中獎，其他情形   視為不中獎。 <br />
    例：11， 17 二個號碼都是開在正碼里，視為中獎，如果二個號碼一個中在正
    碼一個中特碼，此情形視為不中獎。 <br />
    <br />
    <strong>◎   二中特 </strong><br />
    選擇投|注號碼每二個號碼為一組〈號碼需二個號以上，少於二個號碼不成立〉
    ，如二個號碼都是在開獎號碼的正碼，為二中特之中二，如   果一個中在正碼一
    個中特碼為二中特之中特是視為中獎，其他情形視為不中獎。 <br />
    例：11， 17   二個號碼都是開在正碼里，視為中獎，如果二個號碼一個中在正
    碼一個中特碼，為二中特之中特是視為中獎，其他情形視為不中獎。 <br />
    <br />
    <strong>◎ 特串 </strong><br />
    選擇投|注號碼每二個號碼為一組〈號碼需二個號以上，少於二個號碼
    不成立〉，如二個號碼其中一個開在正碼，另一個開在特碼，視為中   獎，其他
    情形視為不中獎。如兩個號碼都開在正碼里視為不中獎。 <br />
    
    <br />
    <strong>◎ 特碼生肖 </strong><br />
    十二生肖中每一個生肖依序分別代表 49個號碼。 <br />
    今年是{+$bm+}年，生肖對應號碼如下：<br />
    {+foreach item=i key=k from=$sx+}
       {+$k+}:{+$i+}<BR />
    {+/foreach+}
    如果當期特碼開在您投|注的生肖所屬的號碼中，則視為中獎， 其他情形為不中獎 。 <br />
    <br />
    <strong>◎ 特碼色波 </strong><br />
    香港低频彩 49 個號碼球分別有紅   、 藍 、 綠三種顏色，以特碼開出的顏色和投|注的顏色相同視為中獎，顏色代表如下： <br />
    紅波 ： 01, 02, 07, 08, 12, 13, 18,   19, 23, 24, 29, 30, 34, 35, 40, 45, 46。<br />
    藍波 ： 03, 04, 09, 10, 14, 15, 20, 25,   26, 31, 36, 37, 41, 42, 47, 48。<br />
    綠波 ： 05, 06, 11, 16, 17, 21, 22, 27, 28, 32,   33, 38, 39, 43, 44, 49。<br />
    <br />
    <br />
    <strong>◎ 一肖 </strong><br />
    指開獎 7   個號碼中含有所屬生肖的一個或多個號碼，但派彩只派一次，即不論同生肖號碼出現一個或多個號碼都只派彩一次。<br />
    今年是{+$bm+}年，生肖號碼對應如下：<br />
    {+foreach item=i key=k from=$sx+}
       {+$k+}:{+$i+}<BR />
    {+/foreach+}
    </p>
  <p> <br />
    <strong>◎ 尾數 </strong><br />
    指開獎 7 個號碼中含有所屬尾數的一個或多個號碼，但派彩只派一次，即不論同尾數號碼出現一個或多個號碼都只派彩一次。<br />
    1尾：01.11.21.31.41   2尾：02.12.22.32.42 3尾：03.13.23.33.43 <br />
    4尾：04.14.24.34.44 5尾：05.15.25.35.45   6尾：06.16.26.36.46 <br />
    7尾：07.17.27.37.47 8尾：08.18.28.38.48 9尾：09.19.29.39.49 <br />
    0尾：10.20.30.40     <br />
    例如：開獎結果正碼是11、31、42、44、35、32特別號碼是21   則1尾2尾4尾5尾都為中獎，其他尾數都不中獎。 <br />
    <br />
    <strong>◎ 半波 </strong><br />
    以特碼色波和特單，特雙，特大，特小為一個投|注組合，當期特碼開出符合投|注組合，即視為中獎； 若當期特碼開出49號，則視為和局；其餘情形視為不中獎。 <br />
    <br />
    <strong>◎ 五行 </strong><br />
    將49個號碼分成金、木、水、火、土五組，當期特碼開出對應的五行，即視為中獎。今年五行號碼對應如下： <br />
    {+foreach item=i key=k from=$wh+}
       {+$k+}:{+$i+}<BR />
    {+/foreach+}
    <br />
    <strong>◎ 不中 (5-12)</strong><br />
    所投|注的每(5-12)個號碼為一注，每注的(5-12)個號碼中如果有當期開獎的所有7個號碼中的一個或多個號碼，則視為不中獎；每注(3-7)個號碼中如果沒有當期開獎的所有7個號碼中的一個或多個號碼，則視為中獎。例如：1、2、3、4、5是一注，開獎的號碼是5、6、7、8、9、10、11，那就是不中獎！再例如1、2、3、4、5是一注，開獎的號碼是6、7、   8、9、10、11、12，那就是中獎！ <br />
    <br />
    <strong>◎   合肖 </strong><br />
    選擇二到六個生肖為一組進行投|注，如開獎的特肖在此組合內，視為中獎。 <br />
    <br />
<strong>◎   過關</strong><br />可同時挑選多種玩法，串聯成投注組合，但每注當中同一個號碼最多只能勾選兩種玩法，只要當期正碼所開出之中獎結果完全符合您所選定之串聯玩法，即視為中獎。<br /> 
若該期任一組正碼中有開出49則過關即視為和局。 <br />
※注∶正碼過關每注最高派彩為 RMB￥{+$maxpc+}<br /><br />
    <strong>◎生肖連 </strong><br />
     <ul>
     <li>四肖連：<br />
                以每四個生肖為一注，每注的每個生肖中如果都有當期開獎的所有7個號碼對應的生肖，則視為中獎。如果其中一個或多個生肖沒有當期開獎的所有7個號碼對應的生肖，則視為不中獎。<br />
      </li>
              <li>三肖連）：<br />
                以每三個生肖為一注，每注的每個生肖中如果都有當期開獎的所有7個號碼對應的生肖，則視為中獎。如果其中一個或多個生肖沒有當期開獎的所有7個號碼對應的生肖，則視為不中獎。 </li>
              <li>二肖連：<br />
                以每二個生肖為一注，每注的每個生肖中如果都有當期開獎的所有7個號碼對應的生肖，則視為中獎。如果其中一個或多個生肖沒有當期開獎的所有7個號碼對應的生肖，則視為不中獎。<br />
              </li></ul>
  <br />
    <strong>◎尾數連 </strong><br />
     <ul>
              <li>四尾連：<br />
                以每四個尾數為一注，每注的每個尾數中如果都有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數沒有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2、尾3、尾4，是一注，開獎的號碼是：2、3、4、5、6、7、8，那就是不中獎；再例如：尾1、尾2、尾3、尾4，是一注，開獎的號碼是：1、2、3、4、5、6、7，那就是中獎。<br />
              </li>
              <li>三尾連：<br />
                以每三個尾數為一注，每注的每個尾數中如果都有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數沒有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2、尾3，是一注，開獎的號碼是：2、3、4、5、6、7、8，那就是不中獎；再例如：尾1、尾2、尾3，是一注，開獎的號碼是：1、2、3、4、5、6、7，那就是中獎。 </li>
              <li>二尾連：<br />
                以每二個尾數為一注，每注的每個尾數中如果都有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數沒有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2，是一注，開獎的號碼是：2、3、4、5、6、7、8，那就是不中獎；再例如：尾1、尾2，是一注，開獎的號碼是：1、2、3、4、5、6、7，那就是中獎。<br />
              </li>
            </ul>
             <br />
    <strong>◎投注方法簡稱 </strong><br />
    <ul>
              <li>拖頭：拖頭是多組的簡化叫法。<br />
                如二中二之8拖18、28、13、25，即是四組：8-18、8-28、8-13、8-25；<br />
                如三中二之8、18拖19、20、21，即是三組：8-18-19、8-18-20、8-18-21；<br />
                如二肖連之鼠拖牛、兔、虎、龍，即是四組：鼠-牛、鼠-兔、鼠-虎、鼠-龍；<br />
                如三肖連之鼠、牛拖兔、虎、龍，即是三組：鼠-牛-兔、鼠-牛-虎、鼠-牛-龍；<br />
                如四肖連之鼠、牛、兔拖虎、龍，即是兩組：鼠-牛-兔-虎、鼠-牛-兔-龍。<br />
              </li>
              <li>複式：複式是多個（號碼、生肖、尾數）的不完全重複組合。 </li>
              <li>多注投註：可以連續選多組。 </li>
              <li>對碰：對碰是兩組對連的叫法：<br />
                如：二全中，兔碰蛇，即是二十組：01,11、   01,23、01,35、01,47、11,13、13,23、13,35、13,47、11,25、23,25、25,35、25,47、11,37 23,37   、35,37、37,47、11,49、23,49、35,49 、47,49 <br />
              </li>
            </ul>
   </p>
 
</TD>
</TR>
</table></div>