<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=0.65, minimal-ui, width=360" id="viewport" />
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="../css/mobile/mobile-bootstrap.css">
    <link rel="stylesheet" href="../css/mobile/mobile-interface.css">
    <link rel="stylesheet" href="../css/mobile/mobile-skin.css">
    <script language="javascript" src="/js/jquery-1.8.3.js"></script>
    <script>
    // $(document).ready(function() { 
    //   if (screen.width > 360 && !navigator.userAgent.match("UCBrowser")) {
    //     $('body').css("zoom","0.65")
    //   }
    // });
  </script>
</head>
<body class="graybg">
<script id=myjs language="javascript">
var js=1;var sss='xy';</script>
<div class="container-fluid  backgroundcolorlightpink"> <!--container-->
	
  	<div class="row darkredbg white cnsmall">
    	<div class="padding20 clearfix">
    		<div class="col-xs-12 textcenter">{+$webname+}用户协议</div>
        </div>
	</div>
    
   	<div class="row graylightbg cnsmall2">
    	<div class="padding20 clearfix">
    		<div class="col-xs-12 agreement"><p>01. 为避免出现争议，请您务必在下注之后查看“下注状况”。</p>
<p>02. 任何投诉必须在开奖之前，后台将不接受任何开奖之后的投诉。</p>
<p>03. 公布赔率时出现的任何打字错误或非故意人为失误，所有（相关）注单一律不算。</p>
<p>04. 公布之所有赔率为浮动赔率，下注时请确认当前赔率及金额，下注确认后一律不能修改。</p>
<p>05. 开奖后接受的投注，一律视为无效。</p>
<p>06. 若本后台发现客户以不正当的手法投注或投注注单不正常，后台将有权“取消”相应之注单，客户不得有任何异议。</p>
<p>07. 如因软件或线路问题导致交易内容或其他与账号设定不符合的情形，请在开奖前立即与本后台联络反映问题，否则本后台将以资料库中的数据为准。</p>
<p>08. 倘若发生遭黑客入侵破坏行为或不可抗拒之灾害致网站故障或资料损坏、数据丢失等情况，后台将以资料库数据为依据。</p>
<p>09. 各级管理人员及客户必须对本系统各项功能进行了解及熟悉，任何违反正常使用的操作，后台概不负责。
<p>10. 请认真了解游戏规则。</p>
<p>11. 如果会员信用额度超额或者为负数引起的争议，一律以公司处理为准。</p></div>
        </div>
	</div>
    <div class="row graylightbg textcenter cn marginbtm40">
        	<div class="padding10 textcenter clearfix" style="position:relative;">
                <div class="mobilemenubtn buttonredradius cn inlineblock marginright20 tongyi" style="width: 120px;" onClick="document.location='make.php?xtype=show'">同意</div>
                <div class="mobilemenubtn buttonredradius cn inlineblock marginright20" style="width: 120px;" onClick="document.location='nav.php?logout=yes'">不同意</div>
            </div>
     </div>

</div><!--container-->

</body>
</html>
