<style>
p.bt{font-weight:bold}
</style>
 <table  class='tinfo rule'   cellspacing="0" cellpadding="0">
  <tr>
   <th>北京賽車(原名：北京福彩‘PK拾’)規則說明</th>
  </tr>
  <tr>
   <td valign="top"  style="padding-left:5px;text-align:left;">
<p class='bt'>北京賽車的投注时间、开奖时间和开奖号码与"北京PK拾"完全同步（官方网），北京时间（GMT+8）每天白天从上午09:02开到晚上23:57，每5分鐘开一次奖,每天开奖179期，具体游戏规则如下。</p>

<p class='bt'>1～10 两面：指 单、双；大、小；质、合。</p>
<ul>
<li>单、双：号码为双数叫双，如4、8；号码为单数叫单，如5、9。</li>
<li>大、小：开出之号码大于或等于6为大，小于或等于5为小。</li>
<li>质、合：开出之号码{1，2，3，5，7}为质，{4，6，8，9，10}为合。</li>
</ul>
<p class='bt'>第一名～第十名 车号指定：</p>每一个车号为一投注组合，开奖结果“投注车号”对应所投名次视为中奖，其余情形视为不中奖。</p>
 

<p class='bt'>1～5龙虎 【注意规则】为：</p>
<ul>
<li>冠　军 龙/虎：“第一名”车号大于“第十名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
<li>亚　军 龙/虎：“第二名”车号大于“第九名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
<li>第三名 龙/虎：“第三名”车号大于“第八名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
<li>第四名 龙/虎：“第四名”车号大于“第七名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
<li>第五名 龙/虎：“第五名”车号大于“第六名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
</ul>
<p class='bt'>冠军车号＋亚军车号＝冠亚和值</p>
<ul>
<li>冠亚和单双：“冠亚和值”为单视为投注“单”的注单视为中奖，为双视为投注“双”的注单视为中奖，其余视为不中奖。</li>
<li>冠亚和大小：“冠亚和值”大于11时投注“大”的注单视为中奖，小于或等于11时投注“小”的注单视为中奖，其余视为不中奖。</li>
<li>冠亚和指定 “冠亚和值”可能出现的结果为3～19,投中对应“冠亚和值”数字的视为中奖，其余视为不中奖。</li>
</ul>
   </td>
  </tr>
 </table>

