<div class="ggagnp-0 ghAhQy">
	{+if ($first==1)+}<div class="first-time"><span class="red_color">请修改您的密码</span></div>{+/if+}
	<form class="password-form component">
		<div class="ggagnp-1 cwGwpk">
			<div class="rnti_text ">
				<div class="rntit_count">
					旧密码
				</div>
				<input name="oldpassword" type="password" class="input oldpassword" placeholder="请输入旧密码" autocomplete="off" value="">
			</div>
		</div>
		<div class="ggagnp-1 cwGwpk">
			<div class="rnti_text ">
				<div class="rntit_count">
					新密码
				</div>
				<input name="newpassword" type="password" class="input newpassword" placeholder="6-20字符必须包含大小写和数字" autocomplete="off" value="">
			</div>
		</div>
		<div class="ggagnp-1 cwGwpk">
			<div class="rnti_text ">
				<div class="rntit_count">
					确认密码
				</div>
				<input name="confirmpassword" type="password" class="input confirmpassword" placeholder="确认密码" autocomplete="off" value="">
			</div>
		</div>
		<div class="ggagnp-2 jamQxo">
			<button type="button" class="qd" disabled="">确定</button><button type="button" class="rset" disabled="">重置</button>
		</div>
	</form>
</div>