<style>
p.bt{font-weight:bold}
</style>
 <table  class='tinfo rule'   cellspacing="0" cellpadding="0">
  <tr>
   <th>新疆时时彩规则说明</th>
  </tr>
  <tr>
   <td valign="top"  style="padding-left:5px;text-align:left;">
   
   <p class="bt">一、新疆时时彩，是新疆福利彩票发行中心承销的快开彩票，开奖时间每天10∶00至02∶00，共96期。10分钟自动更新一次。</p>
<p class="bt">二、一字盘势规则说明</p>
<ul>
<li>1~5	于前三十个任选一位，自0~9任选1号进行投注，当开奖结果与所选的定位与号码相同且顺序一致时，即为中奖。</li>
<li>全五字组合	0~9任选1号进行投注，当开奖结果[万位、千位、百位、十位、个位]任一数与所选的号码相同时，即为中奖。</li>
<li>前三1字组合	0~9任选1号进行投注，当开奖结果[万位、千位、百位]任一数与所选的号码相同时，即为中奖。</li>
<li>中三1字组合	0~9任选1号进行投注，当开奖结果[千位、百位、十位]任一数与所选的号码相同时，即为中奖。</li>
<li>后三1字组合	0~9任选1号进行投注，当开奖结果[百位、十位、个位]任一数与所选的号码相同时，即为中奖。</li>
<li>万/千/百/十/个 大小	0~4为小，5~9为大。</li>
<li>万/千/百/十/个 单双	1、3、5、7、9为单，0、2、4、6、8为双。</li>
<li>万/千/百/十/个 质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
</ul>
<p class="bt">三、	2字组选盘势规则说明</p>
2字组选	从0-9十个数字中任选两个不同的数字对指定位置进行投注，若所选择的号码与当期开奖号码所指定之位置相同（顺序不限），即为中奖，若是开出对子如00、11、22、33、44、55、66、77、88、99算不中奖。
<p class="bt">四、	2字定位盘势规则说明</p>
2字定位	于前三十个任选2位，自0~9任选2号进行投注，当开奖结果与所选号码相同且顺序一致时，即为中奖。
<p class="bt">五、	2字和数盘势规则说明</p>
万千/万百/万十/万个/千百/千十/千个/百十/百个/十个 和数单双	1、3、5、7、9、11、13、15、17为单，0、2、4、6、8、10、12、14、16、18为双。
<p class="bt">六、3字组选规则说明</p>
从0-9十个数字中任选3个不同的数字对指定位置进行投注，若所选择的号码与当期开奖号码所指定之位置相同（顺序不限），即为中奖，若是开出豹子如000、111、222、333、444、555、666、777、888、999算不中奖。

<p class="bt">七、3字定位规则说明</p>	
于前三十个任选3位，自0~9任选3号进行投注，当开奖结果与所选号码相同且顺序一致时，即为中奖。
<p class="bt">八、3字和数规则说明</p>
<ul>
<li>前三和数	开奖结果前三3位数的总和值与若投注前三数字的总和值与相同时，即为中奖。</li>
<li>中三和数	开奖结果中三3位数的总和值与若投注中三数字的总和值与相同时，即为中奖。</li>
<li>后三和数	开奖结果后三3位数的总和值与若投注后三数字的总和值与相同时，即为中奖。</li>	
<li>前三和数大小	0~13为小，14~27为大。</li>
<li>中三和数大小	0~13为小，14~27为大。</li>
<li>后三和数大小	0~13为小，14~27为大。</li>
<li>前三和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，
0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>
<li>中三和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，
0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>
<li>后三和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，
0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>	
<li>前三和数尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。
举例：开奖结果为3、4、5。
前三总和为2，尾数为2。</li>
<li>中三和数尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。
举例：开奖结果为3、4、5。
中三总和为2，尾数为2。</li>
<li>后三和数尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。
举例：开奖结果为3、4、5。
后三总和为2，尾数为2。</li>
<li>前三和数尾数大小	0~4为小，5~9为大。</li>
<li>中三和数尾数大小	0~4为小，5~9为大。</li>
<li>后三和数尾数大小	0~4为小，5~9为大。</li>	
<li>前三和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
<li>中三和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
<li>后三和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
</ul>
<p class="bt">九、总和龙虎盘势规则说明</p>
<ul>
<li>总和数	开奖结果五位数字的总和值与若投注五位数字的总和值与相同时，即为中奖。</li>
<li>总和尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。举例：五字和数为12，尾数为2。</li>
<li>总和数大小	0~22为小，23~45为大。</li>
<li>总和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>
<li>总和数尾数大小	0~4为小，5~9为大。</li>
<li>总和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
<li>龙虎和	龙：万位中奖号码大于个位的中奖号码。如万位开出9，个位开出2。虎：万位中奖号码小于个位的中奖号码。如万位开出2，个位开出 和：万位中奖号码等于个位的中奖号码。如万位开出1，个位开出1。</li>
</ul>
<p class="bt">十、前3跨度盘势规则说明</p>
以开奖结果[万位、千位、百位]的最大差距（跨度），作为中奖依据。会员可以选择0~9的任一跨度。
跨度	举例：开奖结果为3、4、8、7、6。中奖的跨度为5。（最大号码8减最小号码3=5）。
<p class="bt">十一、中3跨度盘势规则说明</p>
以开奖结果[千位、百位、十位]的最大差距（跨度），作为中奖依据。会员可以选择0~9的任一跨度。
跨度	举例：开奖结果为3、4、8、7、6。中奖的跨度为4。（最大号码8减最小号码4=4）。
<p class="bt">十二、后3跨度盘势规则说明</p>
以开奖结果[百位、十位、个位]的最大差距（跨度），作为中奖依据。会员可以选择0~9的任一跨度。
跨度	举例：开奖结果为3、4、8、7、6。中奖的跨度为2。（最大号码8减最小号码6=2）。
<p class="bt">十三、前3组选3规则说明</p>
前3组选3	会员可以挑选5~10个号码，当开奖结果[万位、千位、百位]中有且只有两个号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率。如果是选择(1、2、3、4、5)，则只要开奖结果[万位、千位、百位]中，有出现1、2、3、4、5中的任何两个号码，且其中有一个号码重复则中奖。
例如：112、344，若是开出豹子则不算中奖。
备注："豹子"为3字同号，例如：111、222
<p class="bt">十四、中3组选3规则说明</p>
中3组选3	会员可以挑选5~10个号码，当开奖结果[千位、百位、十位]中有且只有两个号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率。如果是选择(1、2、3、4、5)，则只要开奖结果[千位、百位、十位]中，有出现1、2、3、4、5中的任何两个号码，且其中有一个号码重复则中奖。
例如：112、344，若是开出豹子则不算中奖。
备注："豹子"为3字同号，例如：111、222
<p class="bt">十五、后3组选3规则说明</p>
后3组选3	会员可以挑选5~10个号码，当开奖结果[百位、十位、个位]中有且只有两个号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率。如果是选择(1、2、3、4、5)，则只要开奖结果[百位、十位、个位]中，有出现1、2、3、4、5中的任何两个号码，且其中有一个号码重复则中奖。
例如：112、344，若是开出豹子则不算中奖。
备注："豹子"为3字同号，例如：111、222
<p class="bt">十六、前3组选六规则说明</p>
前3组选六	会员可以挑选4~8个号码，当开奖结果[万位、千位、百位]都出现在所下注的号码中且没有任何号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率，中奖赔率以所选号码中的最小赔率计算派彩。
例如：如果是选择(1、2、3、4)，则开奖结果[万位、千位、百位]为123、124、134、234都中奖，其他都是不中奖。例如：112、133、145、444等都是不中奖。
<p class="bt">十七、中3组选六规则说明</p>
中3组选六	会员可以挑选4~8个号码，当开奖结果[千位、百位、十位]都出现在所下注的号码中且没有任何号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率，中奖赔率以所选号码中的最小赔率计算派彩。
例如：如果是选择(1、2、3、4)，则开奖结果[千位、百位、十位]为123、124、134、234都中奖，其他都是不中奖。例如：112、133、145、444等都是不中奖。
<p class="bt">十八、后3组选六规则说明</p>
后3组选六	会员可以挑选4~8个号码，当开奖结果[百位、十位、个位]都出现在所下注的号码中且没有任何号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率，中奖赔率以所选号码中的最小赔率计算派彩。
例如：如果是选择(1、2、3、4)，则开奖结果[百位、十位、个位]为123、124、134、234都中奖，其他都是不中奖。例如：112、133、145、444等都是不中奖。
<p class="bt">十九、其它盘势规则说明</p>
<ul>
<li>豹子	</li>
<li>前三豹子	数字都相同。例如：111、222，即为中奖。</li>
<li>中三豹子	数字都相同。例如：111、222，即为中奖。</li>
<li>后三豹子	数字都相同。例如：111、222，即为中奖。</li>
<li>顺子	</li>
<li>前三顺子	数字连号，不分顺序(包含数字9.0.1)。例如：012、019，即为中奖。</li>
<li>中三顺子	数字连号，不分顺序(包含数字9.0.1)。例如：012、019，即为中奖。</li>
<li>后三顺子	数字连号，不分顺序(包含数字9.0.1)。例如：012、019，即为中奖。</li>
<li>对子	</li>
<li>前三对子	任意2位数相同，另一位数不同(不含豹子)。例如：211、727，即为中奖。</li>
<li>中三对子	任意2位数相同，另一位数不同(不含豹子)。例如：211、727，即为中奖。</li>
<li>后三对子	任意2位数相同，另一位数不同(不含豹子)。例如：211、727，即为中奖。</li>
<li>半顺	</li>
<li>前三半顺	数字皆不同，且任意2位数为连号(不含对子、顺子与数字9,0,1)。例如：023、401，即为中奖。</li>
<li>中三半顺	数字皆不同，且任意2位数为连号(不含对子、顺子与数字9,0,1)。例如：023、401，即为中奖。</li>
<li>后三半顺	数字皆不同，且任意2位数为连号(不含对子、顺子与数字9,0,1)。例如：023、401，即为中奖。</li>
<li>杂六	</li>
<li>前三杂六	不包含豹子、顺子、对子、半顺的所有中奖号码。例如：024、406即为中奖。</li>
<li>中三杂六	不包含豹子、顺子、对子、半顺的所有中奖号码。例如：024、406即为中奖。</li>
<li>后三杂六	不包含豹子、顺子、对子、半顺的所有中奖号码。例如：024、406即为中奖。</li>
<li>准对	</li>
<li>前三准对	0~9投注一个号码，该号码于本次开奖为对子即为中奖(不包含豹子)。例如：开奖结果为211，准对1即为中奖。</li>
<li>中三准对	0~9投注一个号码，该号码于本次开奖为对子即为中奖(不包含豹子)。例如：开奖结果为211，准对1即为中奖。</li>
<li>后三准对	0~9投注一个号码，该号码于本次开奖为对子即为中奖(不包含豹子)。例如：开奖结果为211，准对1即为中奖。</li>
<li>不出	</li>
<li>前三不出	0~9投注一个号码，如果开奖号码不包含该号码，则视为中奖。例如：开奖结果为012，不出3、4、5、6、7、8、9即为中奖。</li>
<li>中三不出	0~9投注一个号码，如果开奖号码不包含该号码，则视为中奖。例如：开奖结果为012，不出3、4、5、6、7、8、9即为中奖。</li>
<li>后三不出	0~9投注一个号码，如果开奖号码不包含该号码，则视为中奖。例如：开奖结果为012，不出3、4、5、6、7、8、9即为中奖。</li>
</ul>
   </td>
  </tr>
 </table>

