<style>
p.bt{font-weight:bold}
</style>
 <table  class='tinfo rule'   cellspacing="0" cellpadding="0">
  <tr>
   <th>上海时时乐规则说明</th>
  </tr>
  <tr>
   <td valign="top"  style="padding-left:5px;text-align:left;">
   
   <p class="bt">上海时时乐 电脑福利彩票（以下简称“时时乐”）由中国福利彩票发行管理中心统一发行。经中福彩中心授权，上海市福利彩票发行中心在所辖区域内承销“时时乐”每天销售23期，每天上午10：30至晚上22：00，每半小时开奖一次</p>
<p class="bt">二、一字盘势规则说明</p>
<ul>
<li>1~5	于后三任选一位，自0~9任选1号进行投注，当开奖结果与所选的定位与号码相同且顺序一致时，即为中奖。</li>
<li>1字组合	0~9任选1号进行投注，当开奖结果[百位、十位、个位]任一数与所选的号码相同时，即为中奖。</li>
<li>百/十/个 大小	0~4为小，5~9为大。</li>
<li>百/十/个 单双	1、3、5、7、9为单，0、2、4、6、8为双。</li>
<li>百/十/个 质合	1、2、3、5、7为质，0、4、6、8、9为合。</li>
</ul>
<p class="bt">二、二字盘势规则说明</p>
<ul>
<li>二字组合∶0~9任选2号进行投注，当开奖结果【佰位、拾位、个位】任一数与所选的号码相同时，即为中奖。</li>
<li> 二字定位∶于【佰位、拾位、个位】任选两位，自0~9任选2号进行投注，当开奖结果与所选的定位与号码相同且顺序一致时，即为中奖。</li>
<li>『 佰 / 拾 / 个 』合数单双∶1、3、5、7、9、11、13、15、17为单，0、2、4、6、8、10、12、14、16、18为双。</li>
</ul>
<p class="bt">三、三字盘势规则说明</p>
<ul>
<li> 三字组合∶自0~9号任选3个号码，当开奖结果【佰位、拾位、个位】与所选号码相同(位置不限)，即为中奖。</li>
<li> 三字定位∶于【佰位、拾位、个位】任选三位，自0~9任选3号进行投注，当开奖结果与所选的定位与号码相同且顺序一致时，即为中奖。</li>
</ul>
<p class="bt">四、总和龙虎盘势规则说明</p>
<ul>
<li>总和数	开奖结果三位数字的总和值与若投注三位数字的总和值与相同时，即为中奖。</li>
<li>总和尾数	以开奖号码的总和尾数，作为中奖依据。会员可以选择0~9的任一号码。举例：五字和数为12，尾数为2。</li>
<li>总和数大小	0~13为小，14~27为大。</li>
<li>总和数单双	1、3、5、7、9、11、13、15、17、19、21、23、25、27为单，0、2、4、6、8、10、12、14、16、18、20、22、24、26为双。</li>
<li>总和数尾数大小	0~4为小，5~9为大。</li>
<li>总和数尾数质合	1、2、3、5、7为质数，0、4、6、8、9为合数。</li>
<li>龙虎和	龙：百位中奖号码大于个位的中奖号码。如百位开出9，个位开出2。虎：百位中奖号码小于个位的中奖号码。如百位开出2，个位开出 和：百位中奖号码等于个位的中奖号码。如百位开出1，个位开出1。</li>
</ul>
<p class="bt">五、组选三规则说明</p>
<ul>
<li>组选三∶会员可以挑选5~10个号码，当开奖结果【佰位、拾位、个位】中有且只有两个号码重复，则视为中奖。挑选不同个数的号码有其相对应的赔率。<Br /> 
                       如果是选择(1、2、3、4、5)，则只要开奖结果中，有出现1、2、3、4、5中的任何两个号码，且其中有一个号码重复则中奖。<Br />  
                       ※例如∶112、344，若是开出豹子则不算中奖。 <Br /> 
                       ※备注∶"豹子"为三字同号，例如∶111、222
                       </li>
</ul>                       

<p class="bt">六、组选六规则说明</p>
<ul>
<li>组选六∶会员可以挑选4~8个号码，当开奖结果【佰位、拾位、个位】都出现在所下注的号码中且没有任何号码重复，则视为中奖。 <Br /> 
                       挑选不同个数的号码有其相对应的赔率，中奖赔率以所选号码中的最小赔率计算派彩。<Br />  
                       ※例如∶如果是选择(1、2、3、4)，则开奖结果为123、124、134、234都中奖，其他都是不中奖。<Br />  
                       ※备注∶例如∶112、133、145、444等都是不中奖。
                       </li>
                       </ul>
<p class="bt">七、跨度盘势规则说明</p>
<ul>
<li>
以开奖结果[百位、十位、个位]的最大差距（跨度），作为中奖依据。会员可以选择0~9的任一跨度。
跨度	举例：开奖结果为3、4、8、7、6。中奖的跨度为2。（最大号码8减最小号码6=2）。
</li></ul>
<p class="bt">八、其它盘势规则说明</p>
<ul>
<li>豹子	数字都相同。例如：111、222，即为中奖。</li>
<li>顺子	数字连号，不分顺序(包含数字9.0.1)。例如：012、019，即为中奖。</li>
<li>对子	任意2位数相同，另一位数不同(不含豹子)。例如：211、727，即为中奖。</li>
<li>半顺	数字皆不同，且任意2位数为连号(不含对子、顺子与数字9,0,1)。例如：023、401，即为中奖。</li>
<li>杂六	不包含豹子、顺子、对子、半顺的所有中奖号码。例如：024、406即为中奖。</li>

</ul>
   </td>
  </tr>
 </table>

