<style>
p.bt{font-weight:bold}
</style>
 <table  class='tinfo rule'   cellspacing="0" cellpadding="0">
  <tr>
   <th>重庆幸运农场规则说明</th>
  </tr>
  <tr>
   <td valign="top"  style="padding-left:5px;text-align:left;">
   
   <p class="bt">一、重庆幸运农场每期间隔10分钟，每期会从01-20个号码中随机开出8个号码做为当期开奖号码。 </p>

 
<p class='bt'>二、单码/双面规则说明</p>
<ul>
<li>单码	第一球、第二球、第三球、第四球、第五球、第六球、第七球、第八球：指下注的球号与现场滚球开出之号码其开奖顺序及开奖号码相同，视为中奖，如现场滚球第一球开奖为20号，下注第一球为20则视为中奖，其它号码视为不中奖。</li>
<li>大小	开出的号码大于或等于11为大，小于或等于10为小。</li>
<li>单双	号码为双数叫双，如08、16；号码为单叫单，如19、05。</li>
<li>合数单双	正码个位和十位数字之合来判断胜负，如01、12、16为合单；02、11、20为合双。</li>
<li>尾数大小	开出之正码尾数大于或等于5为尾大，小于或等于4为尾小。</li>
<li>四季</li>	
<li>春：01、02、03、04、05 </li>
<li>夏：06、07、08、09、10 </li>
<li>秋：11、12、13、14、15 </li>
<li>冬：16、17、18、19、20</li>
<li>五行</li>
<li>金：05、10、15、20 </li>
<li>木：01、06、11、16 </li>
<li>水：02、07、12、17 </li>
<li>火：03、08、13、18 </li>
<li>土：04、09、14、19</li>
<li>方位</li>
<li>东：01、05、09、13、17 </li>
<li>南：02、06、10、14、18 </li>
<li>西：03、07、11、15、19 </li>
<li>北：04、08、12、16、20</li>
<li>中发白	</li>
<li>中：01、02、03、04、05、06、07 </li>
<li>发：08、09、10、11、12、13、14 </li>
<li>白：15、16、17、18、19、20</li>
</ul>
<p class='bt'>三、总和规则说明</p>
<ul>
<li>总和大小	所有8个开奖号码总和值小于84为总小；总和值大于84为总大，若总和值刚好等于84算和局(不计算输赢)。</li>
<li>总和单双	所有开奖号码数字加总值是单数为合单，如11、21；加总值是双数为合双，如22、40。</li>
<li>总和尾数大小	所有开奖号码数字加总值大于或等于5为总尾大，小于或等于4为总尾小。</li>
<li>龙虎	龙：第一球中奖号码大于第八球的中奖号码。如第一球开出14第八球开出09。虎：第一球中奖号码小于第八球的中奖号码。如第一球开出09第八球开出14。</li>
</ul>
<p class="bt">四、正码</p>
<ul>
<li>投注一个码，如果此码在开奖结果的八个数中存在，为中奖。</li>
</ul>
<p class='bt'>五、连码</p>
<ul>
<li>选二任选∶指从01至20中任意选择2个号码对开奖号码中任意2个位置的投注。投注号码与开奖号码中任意2个位置的号码相符，即中奖。 </li> 

<li>选二连组∶指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置的投注。 
                            投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码相符（顺序不限），即中奖。 </li> 

<li>选二连直∶指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置按位相符的投注。 
                            投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码按位相符，即中奖。 </li> 

<li>选三任选∶指从01至20中任意选择3个号码对开奖号码中任意3个位置的投注。投注号码与开奖号码中任意3个位置的号码相符，即中奖。 </li> 

<li>选三前组∶指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置的投注。 
                            投注号码与开奖号码中按开奖顺序出现的前3个位置的号码相符（顺序不限），即中奖。 </li> 

<li>选三前直∶指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置按位相符的投注。 
                            投注号码与开奖号码中按开奖顺序出现的前3个位置的号码按位相符，即中奖。 </li> 

<li>选四任选∶指从01至20中任意选择4个号码，对开奖号码中任意4个位置的投注。投注号码与开奖号码中任意4个位置的号码相符，即中奖。 </li> 

<li>选五任选∶指从01至20中任意选择5个号码，对开奖号码中任意5个位置的投注。投注号码与开奖号码中任意5个位置的号码相符，即中奖。</li> 
</ul>

   </td>
  </tr>
 </table>

