{+include file='header2.html'+}
<script language="javascript" src="/js/md5.js"></script>
<link href="/css/default/user.css" rel="stylesheet" type="text/css">
</head>
<body id="topbody">
<script id=myjs language="javascript">var mulu='{+$mulu+}';
var js=1;var sss='seditson';
</script>
<div class="main">
<div class="top_info">
<span class="title">子帐号管理</span>
<span class="right"></span>
</div>
<div class="contents">
    <table class="data_table data_list list user_list">
    <thead>
  <TR>
  <th style="width:150px;">在线</th>
  <th style="width:150px;">帐户</th><th>注册时间</th><th>登陆次数</th><th>最后登录IP</th><th>最后登录时间</th><th>最后修改密码时间</th><th> <input class='add btn1 btnf' value='新增子帐号'  id="add{+$data[0].userid+}" type='button' /></th>
  

   </TR>    </thead> 
   
      {+section name=i loop=$data+}
   <tr><td class="online">{+if ($data[i].online==0)+}<span class='s0'></span>{+else+}<span class='s1 zhuxiao' title='注销'></span>{+/if+}</td><td >{+$data[i].username+}</td><td>{+$data[i].regtime+}</td><td>{+$data[i].logintimes+}</td><td>{+$data[i].lastloginip+}({+$data[i].lastloginfrom+})</td><td>{+$data[i].lastlogintime+}</td><td>{+$data[i].passtime+}</td>
   <td style="width:180px;">  

   {+if $data[i].ifson!=0+}
   <input type='button' class='del btn1 btnf' value='删除' id="del{+$data[i].userid+}" uid="{+$data[i].userid+}" />
   {+/if+}
   <input class='edit btn1 btnf' id="edit{+$data[i].userid+}" value='修改密码' uid="{+$data[i].userid+}" username='{+$data[i].username+}' type='button' />

   <input class='record btn1 btnf' value='记录' uid='{+$data[i].userid+}' username='{+$data[i].username+}'  id="showrecord{+$data[i].userid+}" type='button' />
    <input class='logininfo btn1 btnf' value='日志' uid='{+$data[i].userid+}' username='{+$data[i].username+}'  id="showrecord{+$data[i].userid+}" type='button' />
   </td>
   </tr>
   {+/section+}
   
   </table>
   <table class="data_table data_list list pages" style="margin-top:20px;">
   <tbody>
    {+foreach item=i key=k from=$page+}
     {+if $k==0+}<thead>{+/if+}
      <tr>
          {+foreach item=j key=h from=$i+}
            {+if ($k==0 | $h==0)+} <Th>{+$j+}</Th>{+else+}
            <TD>{+$j+}</TD>
            {+/if+}
          {+/foreach+}
      </tr>
      {+if $k==0+}</thead>{+/if+}
    {+/foreach+}
    </tbody>
   </table>
   <input type="hidden" value="{+$uid+}" name='uid' id='uid' />
</div>
</div>

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable addtb" tabindex="-1" role="dialog" aria-describedby="shares" aria-labelledby="ui-id-1" style="position: absolute; height: 152.28px; width: 360px; top: 257px; left: 564.5px; display:none; right: auto; bottom: auto;"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">2988316036# 占成明细</span><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">Close</span></button></div><div id="shares" class="popdiv ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 96px; max-height: 346px; height: auto;"><table class="data_table">
<tbody>
<TR><Th>子帐号</Th><TD><label id='user0'>{+$username+}</label><input type="text" id='user1' maxlength="4" class="txt1" style="width:40px;" /><input type="hidden" id='action' value="add" /></TD></TR>
      <TR><Th>密码</Th><TD><input type="password" id='pass1x' class="intext" /></TD></TR>
      <TR><Th>重复密码</Th><TD><input type="password" id='pass2x' class="intext" /></TD></TR>
      <TR><th colspan="2" class="tcenter"><input type="button" id='addbtn' class="btn1 btnf" value="新增子帐号" />&nbsp;<input type="button" id='closebtn' class="btn1 btnf" value="关闭" /></th></TR>
</tbody>
</table></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div></div>

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable recordtb" tabindex="-1" role="dialog" aria-describedby="shares" aria-labelledby="ui-id-1" style="position: absolute; height:400px; width: 360px; top: 257px; left: 564.5px; display:none; right: auto; bottom: auto;"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">2988316036# 占成明细</span><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">Close</span></button></div><div id="shares" class="popdiv ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 96px; max-height: 346px; height: auto;">
<table class="data_table list ltb">
</table></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div></div>
<div id='test'></div>
</body>
</html>
