<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <remove value="index.htm" />
                <remove value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="php-liml" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="G:\php语言\php-5.5.36-nts-Win32-VC11-x64\php-5.5.36-nts-Win32-VC11-x64\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
