{+include file='header2.html'+}
<script language="javascript" src="/js/md5.js"></script>
</head>
<body>
<script language="javascript" id=myjs>var mulu='{+$mulu+}';
var js=1;var sss='cmoneypasse';
</script>
<div class="main">
<div class="top_info">
<span class="title">变更转账密码</span>
</div>
<div class="contents">
<table class="data_table info_table">
<tr><th>原始密码</th><td><input id="oldpassword" type="password" class="input" /></td></tr>
<tr><th>新设密码</th><td><input id="password" type="password" class="input" /> ＊6-20字符必须由大小写字母和数字组合组成</td></tr>
<tr><th>确认密码</th><td><input id="ckpassword" type="password" class="input" /></td></tr>
</table>
</div>
<div class="data_footer control">&nbsp;<input class="button qd" type="button" value="确定修改"  />&nbsp;</div>
</div>
</body>
</html>