{+include file='header.html'+}
<script language="javascript" src="/js/scriptdate.js"></script>

<style>
.zd th {
}
input.vsmall {
	width:20px;
	padding:0px;
}
.points {
	width:30px;
}
.kpoints {
	width:30px;
}
input.bred {
	background:red
}
a.red {
	color:#D50000
}
.nowtb td {
	font-size:10px;
}
.nowtb th {
	font-size:10px;
}
.nowtb tr:hover {
	background:#FCF
}
.user tr:hover {
	background:#FCF
}
select {
	width:120px;
}
.qishu{width:210px;}
.s_head .r{text-align:left;padding-left:10px;}
</style>
</head><body>
<script id=myjs language="javascript">var mulu='{+$mulu+}';
var sfile ='xxtz';
</script>
<div class="xbody1" style="width:1330px;">
<table class="tinfo wd100 s_head" style="width:1004px;">
   <tr>
   <th style="width:150px;" >查询方式</th>
   <td class="r"  colspan="2">
    <input type="radio" value="0" name="fs" checked />
    按日期
    <input type="radio" value="1" name="fs" />
    按期数&nbsp;&nbsp;</td>
  </tr>
  <TR>
   <th >期数选择</th>
   <Td style="text-align:left;padding-left:10px;" colspan="2"> <select class=qishu>
     
        {+foreach item=i from=$qishu+}
     <option value="{+$i+}">{+$i+}期</option>
     {+/foreach+}
      
    </select>
    
      



   </Td>
  </TR>
  <tr>
   <th>日期选择</th>
   <td class="r"  colspan="2"><input class='textb' id="start"  value='{+$sdate[10]+}' size='11' />
    &nbsp;—&nbsp;
    <input class='textb' id="end" name='end'  value='{+$sdate[10]+}' size='11' />
    <input type="button" class="s btnf"  d=1 value="今天" />
    <input type="button" class="s btnf"  d=2 value="昨天" />
    <input type="button" class="s btnf"  d=3 value="本星期" />
    <input type="button" class="s btnf"  d=4 value="上星期" />
    <input type="button" class="s btnf"  d=5 value="本月" />
    <input type="button" class="s btnf"  d=6 value="上月" /></td>
  </tr>

  <tr>
  <th>分类选择</th><td class="r" colspan="2">
    <select class='bid'>
     <option value="">全部</option>
     
      {+section name=i loop=$b+}
        
     <option value="{+$b[i].bid+}">{+$b[i].name+}</option>
     
      {+/section+}
      
    </select>
    <select class='sid'>
    </select>
    <select class='cid'>
    </select></td>
  </tr>
  <tr><th></th><td  colspan="2" class="r">    <input class="btn1 btnf query" type="button" value="明细查询"  style="margin:1px;" />
 
    <input class="btn1 btnf winprint" type="button" value="打印"  style="margin:1px;" />
    <input type="hidden" value="{+$topid+}" id='saveuserid' LAYER="{+$layer+}"  />
    <input type="hidden" id=page value="1" />
    <input type="hidden" id='topid' value="{+$topid+}" LAYER="{+$layer+}" username='{+$username+}' /></td></tr>
  <tr>
  <TD></TD>
   <td style="text-align:left;padding-left:10px;"> 当前用户：
    <label class="nowuser" uid='{+$topid+}' LAYER="{+$layer+}">{+$username+}</label></td>
   <td style="text-align:left;padding-left:10px;"><font color="blue">[返回上线]</font>：<a href='javascript:void(0)'>
    <label class="upuser" uid='{+$topid+}' LAYER="{+$layer+}"></label>
    </a></td>
  </TR>
 </table>

 <table class="tinfo user wd100" style="margin-top:10px;margin-bottom:10px;width:1360px;">
 </table>
 <table class="einfo nowtb wd100" style='margin-top:10px;background:#fff;width:1360px;'>
  <tr class="bt">
   <th>期数</th>
   <th>交易号</th>
   <th>类型</th>
   <th>类别</th>
   <th>大盘</th>
   <th>小盘</th>
   <th>内容</th>
   <th>金额</th>
   <th>赔率</th>
   <th>退水%</th>
   <th>会员</th>
   <th>时间</th>
  </tr>
 </table>
</div>
<div id='test' style="margin-top:0px;"></div>
<script language="javascript">
layername= new Array();
{+foreach item=i from=$layername key=key+}
layername[{+$key+}]="{+$i+}";
{+/foreach+}
var layer ={+$layer+} ;
sdate=new Array();
{+foreach item=i from=$sdate key=key+}
sdate[{+$key+}]="{+$i+}";
{+/foreach+}
maxlayer = {+$maxlayer+};
</script>
</body>
</html>