{+include file='header.html'+}
<script language="javascript" src="/js/scriptdate.js"></script>
<style>
.zd th{}
input.vsmall{width:20px;padding:0px;}
.points{width:30px;}
.kpoints{width:30px;}
input.bred{background:red}
a.red{color:#D50000}

.nowtb td{font-size:11.5px;}
.nowtb th{font-size:11.5px;}
.nowtb tr:hover{background:#FCF}
.user tr:hover{background:#FCF}
select{width:90px;}

td.z1{background:#69F}
td.z3{background:#696}
td.he{background:#ACF1A9}
</style>
</head>
<body>
<script id=myjs language="javascript">var mulu='{+$mulu+}';var js=1;var sss='bao';</script>
<div class="xbody1">
<table class="tinfo wd100 s_head" >
  <TR><Th style="text-align:left;width:650px;">
从<select id=qishu1>
        {+foreach item=i from=$qishu+}<option value="{+$i+}">{+$i+}期</option>{+/foreach+}
      </select>到<select id=qishu2>
        {+foreach item=i from=$qishu+}<option value="{+$i+}">{+$i+}期</option>{+/foreach+}
      </select>
      <select id='bid'>
      <option value="">全部</option>
      {+section name=i loop=$b+}
        <option value="{+$b[i].cid+}">{+$b[i].name+}</option>
      {+/section+}
      </select>
      <select id='cid'>
        
      </select>
      <select id='sid'>
        
      </select>   
      <input class="btn1 btnf query" type="button" value="查询"  style="margin:1px;" /> 
      <input class="btn1 btnf winprint" type="button" value="打印"  style="margin:1px;" /> <input type="hidden" value="{+$uid+}" id='saveuserid' />
<input type="hidden" id=page value="1" /> <input type="hidden" id='topid' value="{+$topid+}" LAYER="{+$layer+}" />
</Th>
 
  <th style="text-align:left;">
  当前用户：<label class="nowuser" uid='{+$topid+}' LAYER="{+$layer+}">{+$username+}</label>&nbsp;&nbsp;<font color="blue">[返回上线]</font>：<a href='javascript:void(0)'><label class="upuser" uid='{+$topid+}' LAYER="{+$layer+}"></label></a>

  </th>
</TR>
 
   </table>
 <table class="tinfo baotb wd100" style="margin-top:10px;"></table>
  <table class="tinfo flytb wd100" style="margin-top:10px;display:none">
  <Tr><th>补货注数</th><th>补货金额</th><th>中奖</th><th>退水</th><th>盈亏</th></Tr>
  </table>
  <h4 style="float:right;margin-top:20px;">总盈亏：<label>0</label></h4>
<table class="einfo nowtb wd100" style='margin-top:20px;background:#fff;display:none'>
   <tr class="bt"><th>期数</th><th>交易号</th><th>类别</th><th>大盘</th><th>小盘</th><th>内容</th><th>金额</th><th>赔率</th><th>退水%</th><th>投|注人</th><th>时间</th></tr> 
   </table>


</div> 
<div id='test' style="margin-top:0px;"></div>
</body>
</html>