{+include file='header.html'+}
<style>
.addtb {
	width:200px;
	display:none;
	position:absolute;
	background:#fff
}
.addtb td {
	text-align:left;
}
.s_tb tr:hover {
	background:#FCF
}
</style>
<script id=myjs language="javascript">var mulu='{+$mulu+}';var js=1;var sss='sclass';</script>
</head><body>
<div class="xbody1">
 <table class="tinfo wd100 s_tb">
  <tr>
   <th colspan="3">小分类</th>
   <th colspan="4"> 大分类：
    <select id='bid'>
     
     
 
 {+section name=i loop=$b+}
 
     
     <option value="{+$b[i].bid+}">{+$b[i].name+}</option>
     
     
 {+/section+}
 
    
    </select>
    <input type="text" id='name' />
    <input type="button" class="btn3 btnf" id='add'  value="添加小分类" /></th>
  </tr>
  <TR>
   <th><input type="checkbox" id='clickall' />
    全选</th>
   <th> <select class='bid'>
     <option value="">选择大分类</option>
     
     
 {+section name=i loop=$b+}
 
     
     <option value="{+$b[i].bid+}">{+$b[i].name+}</option>
     
     
 {+/section+}
 
    
    </select></th>
   <th>编号</th>
   <th>名称</th>
   <th>可用</th>
   <th>排序</th>
   <th><input type="button" class="btn3 btnf" id='delall'  value="删除选中" /></th>
  </TR>
  {+section name=i loop=$s+}
  <TR>
   <td><input type="checkbox" value='{+$s[i].sid+}' /></td>
   <td><input type="text" value='{+$s[i].bid+}' class=bids />{+$s[i].bname+}</td>
   <td>{+$s[i].sid+}</td>
   <td><input type="text" value='{+$s[i].name+}' class=name /></td>
   <td><input type="checkbox" class=ifok {+if $s[i].ifok==1+}checked{+/if+} /></td>
   <td><input type="text" value='{+$s[i].xsort+}' class=xsort /></td>
   <td><input type="button" class="edit btn1 btnf" value='修改' />
    <input type="button" class="delone btn1 btnf" value='删除' /></td>
  </TR>
  {+/section+}
 </table>
</div>
<script language="javascript">
$(".bid").val('{+$bid+}');
</script>
<div id='test'></div>
</body>
</html>