{+include file='header2.html'+}
<style>
	.xxtb{display:none;position: absolute;width:1000px;background: #fff}
	.click{background:#E3F1FF}
</style>
</head>
<body>
<script id=myjs language="javascript">var mulu='{+$mulu+}';var js=1;var sss='online';</script>
<div class="main">
<div class="top_info">
<span class="title">在线会员</span>
</div>

<TABLE class="data_table data_list">
<tr><th>管理员</th><th>代理</th><th>会员</th></tr>
<tr>{+foreach item=i key=k from=$num+}<td class="type{+if $type==$k+} click{+/if+}" type='{+$k+}'>{+$i+}</td>{+/foreach+}</tr>
</TABLE><BR />

   <table class="data_table data_list list on_tb">
   <tr><td colspan="14">{+$page+}</td></tr>
   <thead>
   <TR><th><input type="checkbox" id='clickall' />全选</th><th>用户名</th><th>
   
   <SELECT class="selectcom">
   <OPTION value="">所属</OPTION>
   {+section name=i loop=$com+}
   <OPTION value="{+$com[i].id+}">{+$com[i].name+}</OPTION>
   {+/section+}
   </SELECT>
   <LABEL class="chu red"></LABEL>
   
   </th>
   {+if $type==2+}
     <th>信用度</th>
     <th>余额</th>
     <th>未结算</th>
   {+/if+}
   <th>位置</th><th>登陆时间</th><th>最后活动</th><th>IP</th><th>来源</th><th>服务器</th><th>客户端</th><th><input type="button" value="踢出选中" id='delall' class='btn3 btnf'  /></th></TR></thead>
    {+section name=i loop=$on+}
    <TR class="com" id="{+$on[i].com+}">
       <TD><input type="checkbox" value="{+$on[i].uid+}" />{+$on[i].i+}</TD>
        <Td class='tl'>{+$on[i].username+}({+$on[i].name+})</Td>
        <td class='up'><span>{+$on[i].up+}</span><div class="hide">{+$on[i].uplist+}</div></td>
         {+if $type==2+}
     <td class="tl">{+$on[i].maxmoney+}</td>
     <td class="tl">{+$on[i].money+}</td>
     <td class='wjs tl' uid='{+$on[i].uid+}'>{+$on[i].z9+}</td>
   {+/if+}  
        
        <Td>{+$on[i].posi+}</Td>
        <Td>{+$on[i].logintime+}</Td><Td>{+$on[i].savetime+}</Td><Td>{+$on[i].ip+}</Td><Td class="ip" ip=''>{+$on[i].addr+}</Td>
        <td>{+$on[i].server+}号</td>
        <td class='os'>{+$on[i].os+}</td>
        <Td><input type="button" value="踢出" class="btn1 btnf"  /></Td>
     </TR>
    {+/section+}
   </table>

</div>

<table class="data_table data_list list xxtb">
 <tr class="bt">
 <th>彩种</th>
  <th>期數</th>  
  <th>類別</th>
  <th>金額</th>
  <th>赔率</th>
  <th>退水</th>
  <th>會員</th>
  <th>時間</th>
 </tr>
</table>
<input type="hidden" class='sort' orderby='time' sorttype='DESC' page='1' xtype='2' js='0' gid='99' con='' />
<div id='test'></div>
</body>
</html>
