{+include file='header2.html'+}
<script language="javascript" type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<style>
.zd th {
}
input.vsmall {
	width:20px;
	padding:0px;
}
.points {
	width:30px;
}
.kpoints {
	width:30px;
}
input.bred {
	background:red
}
a.red {
	color:#D50000
}
.nowtb td {
	font-size:10px;
}
.nowtb th {
	font-size:10px;
}
.nowtb tr:hover {
	background:#FCF
}
.user tr:hover {
	background:#FCF
}
select {
	width:120px;
}
.qishu{width:210px;}
.txts{width:50px;border:1px solid #36F}
.txts2{width:90px;border:1px solid #36F}
.s_head .r{text-align:left;padding-left:10px;}
.con{width:120px;}
	label{color:red}	
.contents{overflow-x: auto}	
</style>

</head><body>
<script id=myjs language="javascript">var mulu='{+$mulu+}';var js=1;var sss='xxtz2';</script>
<div class="main">
	<div class="top_info">
		<span class="title">注单删改<span class="right"></span>
	</div>
 <table class="data_table s_head">
  <tr style="display: none;">
   <th style="width:150px;" >查询方式</th>
   <td class="r"  colspan="2"><input type="radio" value="0" name="fs" checked />
    按日期
    <input type="radio" value="1" name="fs"/>
    按期数&nbsp;&nbsp;</td>
  </tr>
  <TR  style="display: none;">
   <th >期数选择</th>
   <Td style="text-align:left;padding-left:10px;" colspan="2"><select name="select" class=qishu>
    
     
        {+foreach item=i from=$qishu+}
     
    <option value="{+$i+}">{+$i+}期</option>
    
     {+/foreach+}
      
    
   </select></Td>
  </TR>
  <tr>
   <th>日期选择</th>
   <td class="r"  colspan="2"><input class='textb' id="start"  value='{+$sdate[10]+}' size='11' />
    &nbsp;—&nbsp;
    <input class='textb' id="end" name='end'  value='{+$sdate[10]+}' size='11' />
    <input type="button" class="s btnf"  d=1 value="今天" />
    <input type="button" class="s btnf"  d=2 value="昨天" />
    <input type="button" class="s btnf"  d=3 value="本星期" />
    <input type="button" class="s btnf"  d=4 value="上星期" />
    <input type="button" class="s btnf"  d=5 value="本月" />
    <input type="button" class="s btnf"  d=6 value="上月" /></td>
  </tr>
  <tr>
   <th>会员</th>
   <td class="r"  colspan="2"><input id="username"  value='' />
  </tr>
  <tr  style="display: none;">
   <th>分类选择</th>
   <td class="r" colspan="2"><select name="select" class='bid'>
    <option value="">全部</option>
    
     
      {+section name=i loop=$b+}
        
     
    <option value="{+$b[i].bid+}">{+$b[i].name+}</option>
    
     
      {+/section+}
      
    
   </select>
    <select name="select" class='sid'>
    </select>
    <select name="select" class='cid'>
    </select></td>
  </tr>
  <tr>
   <th></th>
   <td  colspan="2" class="r"><input class="btn1 btnf query" type="button" value="明细查询"  style="margin:1px;" />
    <input class="btn1 btnf winprint" type="button" value="打印"  style="margin:1px;" />
    <input type="hidden" value="{+$topid+}" id='saveuserid' LAYER="{+$layer+}"  />
    <input type="hidden" id=page value="1" />
    <input type="hidden" id='topid' value="{+$topid+}" LAYER="{+$layer+}" username='{+$username+}' /></td>
  </tr>
  <tr  style="display: none;">
   <TD></TD>
   <td style="text-align:left;padding-left:10px;"> 当前用户：
    <label class="nowuser" uid='{+$topid+}' LAYER="{+$layer+}">{+$username+}</label></td>
   <td style="text-align:left;padding-left:10px;"><font color="blue">[返回上线]</font>：<a href='javascript:void(0)'>
    <label class="upuser" uid='{+$topid+}' LAYER="{+$layer+}"></label>
   </a></td>
  </TR>
 </table>
 <table class="data_table data_list list user" style="margin-top:10px;">
 </table>
 <div class="contents param_panel">
 <table class="data_table data_list nowtb" style='margin-top:10px;background:#fff;width:2500px;'>
  <tr class="bt">
  <th><input type="checkbox" class="clickall" /></th>
  <th>操作</th>
  <th>彩种</th>
   <th>期数</th>
   <th>交易号</th>
   <th>类型</th>
   <th>类别</th>
   <th>大盘</th>
   <th>小盘</th>
   <th>中</th>
   <th>内容</th>
   <th>金额</th>
   <th>赔率</th>
   <th>退水%</th>
   <th>会员</th>
   <th>时间</th>
  </tr>
 </table>
	</div>
</div>

<div id='test' style="margin-top:0px;"></div>
<script language="javascript">
layernames= new Array();
layername = new Array();
{+section name=i loop=$layername+}
layernames[{+$smarty.section.i.index+}] = new Array();
layernames[{+$smarty.section.i.index+}]['wid'] = {+$layername[i].wid+};
layernames[{+$smarty.section.i.index+}]['layer'] = new Array();
{+foreach item=j key=key from=$layername[i].layer+}
layernames[{+$smarty.section.i.index+}]['layer'][{+$key+}] = '{+$j+}';
{+/foreach+}
layernames[{+$smarty.section.i.index+}]['namehead'] = '{+$layername[i].namehead+}';
{+/section+}
{+foreach item=j key=key from=$layername[0].layer+}
layername[{+$key+}] = '{+$j+}';
{+/foreach+}
var maxlayer= layername.length;
var layer ={+$layer+} ;
sdate=new Array();
{+foreach item=i from=$sdate key=key+}
sdate[{+$key+}]="{+$i+}";
{+/foreach+}
</script>
</body>
</html>